@import '@financial-times/o-spacing/main';

.container {
	display: flex;
	padding-bottom: oSpacingByName('s3');
}

.image {
	max-width: 160px; // image does not work with flex-basis, sadly
	flex: 0;
	margin-right: oSpacingByName('s4');
}

.body {
	flex: 1;
}
