@import '../styles/vars';
@import 'o-colors/main';
@import 'o-grid/main';
@import 'o-typography/main';

.main {
	@include oTypographyWrapper;

	margin-top: 20px;
	box-shadow: 0px -10px 100px 10px rgba(0, 0, 0, 0.4);
	background: white;

	@each $layout-name in map-keys($o-grid-gutters) {
		@if $layout-name != 'default' {
			@include oGridRespondTo($layout-name) {
				margin-left: oGridGutter($layout-name);
				margin-right: oGridGutter($layout-name);
			}
		}
	}
}

.grid {
	width: 100%;
	max-width: none;
}

.kicker {
	@include oGridColspan(12);
}

.section {
	@include oGridColspan;
	@include oGridRespondTo($until: M) {
		@include oGridColspan(12, $width-only: true);
	}
}

.sectionIcon {
	width: 3em;
	margin-right: 0.5em;
	float: left;
}
