@import '@financial-times/o3-foundation/css/core.css';
$system-code: 'github:Financial-Times/x-dash' !default;

@import '@financial-times/o-editorial-typography/main';

@import '@financial-times/x-follow-button/src/styles/main';

.x-topic-search {
	position: relative;
	text-align: center;
	background-color: var(--o3-color-palette-claret-70);
	color: var(--o3-color-use-case-body-inverse-text);
	width: 100%;
}

.x-topic-search__input-wrapper {
	position: relative;
}

.x-topic-search__search-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: var(--o3-color-use-case-body-inverse-text);
	mask-image: var(--o3-icon-search);
	mask-repeat: no-repeat;
	mask-size: contain;
	position: absolute;
	top: 50%;
	margin-top: -10px;
}

.x-topic-search__input {
	
	line-height: var(--o3-font-lineheight-metric2-negative-1);
	font-size: var(--o3-font-size-metric2-negative-1);
	font-family: var(--o3-font-family-metric);
	-webkit-appearance: none;
	width: 100%;
	min-height: 40px;
	margin: 0;
	border: none;
	border-bottom: 2px solid var(--o3-color-palette-white);
	padding: 0 9px 0 24px;
	max-width: none;
	color: var(--o3-color-use-case-body-inverse-text);
	background: transparent;

	&::placeholder {
		color: var(--o3-color-use-case-body-inverse-text);
	}

	&::-webkit-search-cancel-button {
		-webkit-appearance: none;
		display: inline-block;
		width: 14px;
		height: 14px;
		background-color: var(--o3-color-use-case-body-inverse-text);
		mask-image: var(--o3-icon-cross);
		mask-repeat: no-repeat;
		mask-size: contain;
	}

	&::-webkit-search-decoration,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}

.x-topic-search__result-container {
	position: absolute;
	background: var(--o3-color-palette-white);
	top: 48px;
	padding: 10px;
	z-index: 1;
	width: calc(100% - 20px);
}

.x-topic-search-suggestions {
	list-style: none;
	padding: 0;
	text-align: left;
	margin: 0;
}

.x-topic-search-suggestions__suggestion {
	display: flex;
	justify-content: space-between;
	align-items: center;
	clear: right;
	padding: 5px 0;
	border-bottom: 1px solid var(--o3-color-palette-black-5);

	&:last-child {
		border-bottom: 0;
		padding-bottom: 0;
	}

	&:first-child {
		padding-top: 0;
	}
}

.x-topic-search-suggestions__suggestion-name {
	padding: 5px 0;
	max-width: 50%;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.x-topic-search-no-suggestions {
	
	line-height: var(--o3-font-lineheight-metric2-0);
	font-size: var(--o3-font-size-metric2-0);
	font-family: var(--o3-font-family-metric);
	color: var(--o3-color-use-case-support-text);
	text-align: left;
	padding: 0 0 5px 0;
	margin: 0;
	p {
		margin: 0;
	}
}

.x-topic-search-no-suggestions__title {
	
	line-height: var(--o3-font-lineheight-metric2-2);
	font-size: var(--o3-font-size-metric2-2);
	font-family: var(--o3-font-family-metric);
	font-weight: normal;
	overflow-wrap: break-word;
	margin: 0;
	padding: 0 0 20px;
}

.x-topic-search-no-suggestions__message {
	margin-top: 12px;
	margin-bottom: 0;
}
