$system-code: 'github:Financial-Times/x-dash' !default;

@import '@financial-times/o-icons/main';
@import '@financial-times/o-colors/main';
@import '@financial-times/o-typography/main';
@import '@financial-times/o-editorial-typography/main';

@import '@financial-times/x-follow-button/src/styles/main';

.x-topic-search {
	position: relative;
	text-align: center;
	background-color: oColorsByName('claret-70');
	color: oColorsByName('white');
	width: 100%;
}

.x-topic-search__input-wrapper {
	position: relative;
}

.x-topic-search__search-icon {
	@include oIconsContent($icon-name: 'search', $color: oColorsByName('white'), $size: 32);
	position: absolute;
	top: 4px;
	left: -7px;
}

.x-topic-search__input {
	@include oTypographySans($scale: 0);
	-webkit-appearance: none;
	width: 100%;
	min-height: 40px;
	margin: 0;
	border: none;
	border-bottom: 2px solid oColorsByName('white');
	padding: 0 9px 0 24px;
	max-width: none;
	color: oColorsByName('white');
	background: transparent;

	&::placeholder {
		color: oColorsByName('white');
	}

	&::-webkit-search-cancel-button {
		@include oIconsContent($icon-name: 'cross', $color: oColorsByName('white'), $size: 26);
		-webkit-appearance: none;
	}

	&::-webkit-search-decoration,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}

.x-topic-search__result-container {
	position: absolute;
	background: oColorsByName('white');
	top: 48px;
	padding: 10px;
	z-index: 1;
	width: calc(100% - 20px);
}

.x-topic-search-suggestions {
	list-style: none;
	padding: 0;
	text-align: left;
	margin: 0;
}

.x-topic-search-suggestions__suggestion {
	display: flex;
	justify-content: space-between;
	align-items: center;
	clear: right;
	padding: 5px 0;
	border-bottom: 1px solid oColorsByName('black-5');

	&:last-child {
		border-bottom: 0;
		padding-bottom: 0;
	}

	&:first-child {
		padding-top: 0;
	}
}

.x-topic-search-suggestions__suggestion-name {
	@include oTypographySans($scale: 0, $weight: 'semibold');
	@include oEditorialTypographyTag($type: 'topic');
	padding: 5px 0;
	max-width: 50%;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.x-topic-search-no-suggestions {
	@include oTypographySans($scale: 1);
	color: oColorsByName('black-70');
	text-align: left;
	padding: 0 0 5px 0;
	margin: 0;
	p {
		margin: 0;
	}
}

.x-topic-search-no-suggestions__title {
	@include oTypographySans($scale: 3);
	font-weight: normal;
	overflow-wrap: break-word;
	margin: 0;
	padding: 0 0 20px;
}

.x-topic-search-no-suggestions__message {
	margin-top: 12px;
	margin-bottom: 0;
	padding-left: 20px;
	list-style-type: disc;
}
