:root {

	/* primary colors */
	--o-colors-paper: #fff1e5;
	--o-colors-black: #000000;
	--o-colors-white: #ffffff;
	--o-colors-claret: #990f3d;
	--o-colors-oxford: #0f5499;
	--o-colors-teal: #0d7680;

	/* secondary colors */
	--o-colors-wheat: #f2dfce;
	--o-colors-sky: #cce6ff;
	--o-colors-slate: #262a33;
	--o-colors-velvet: #593380;
	--o-colors-mandarin: #ff8833;
	--o-colors-lemon: #ffec1a;

	/* tertiary colors */
	--o-colors-candy: #ff7faa;
	--o-colors-wasabi: #96cc28;
	--o-colors-jade: #00b359;
	--o-colors-crimson: #cc0000;

	/* color shades */
	--o-colors-claret-30: #4d081f;
	--o-colors-claret-40: #660a29;
	--o-colors-claret-50: #800d33;
	--o-colors-claret-60: #990f3d;
	--o-colors-claret-70: #b31247;
	--o-colors-claret-80: #cc1452;
	--o-colors-claret-90: #e6175c;
	--o-colors-claret-100: #ff1a66;
	--o-colors-oxford-30: #082a4d;
	--o-colors-oxford-40: #0a3866;
	--o-colors-oxford-50: #0d4680;
	--o-colors-oxford-60: #0f5499;
	--o-colors-oxford-70: #1262b3;
	--o-colors-oxford-80: #1470cc;
	--o-colors-oxford-90: #177ee6;
	--o-colors-oxford-100: #1a8cff;
	--o-colors-teal-20: #052f33;
	--o-colors-teal-30: #08474d;
	--o-colors-teal-40: #0a5e66;
	--o-colors-teal-50: #0d7680;
	--o-colors-teal-60: #0f8e99;
	--o-colors-teal-70: #12a5b3;
	--o-colors-teal-80: #14bdcc;
	--o-colors-teal-90: #17d4e6;
	--o-colors-teal-100: #1aecff;

	/* color washes (not really from o-colors) */
	--o-colors-claret-wash: #fbf5f7;
	--o-colors-oxford-wash: #f9fbfd;
	--o-colors-teal-wash: #f5fafb;

	/* font-stacks */
	--font-sans: Lato, -apple-system, BlinkMacSystemFont, sans-serif;
	--font-mono: "Space Mono", Menlo, Monaco, Consolas, monospace;

	/* break points */
	--break-m: 640px;
	--break-l: 960px;
	--break-xl: 1400px;
}

html,
body {
	margin: 0;
}

body {
	color: #24292e;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a,
a:hover {
	color: var(--o-colors-teal);
	text-decoration: none;
}

a:active,
a:focus {
	outline: 2px solid var(--o-colors-teal-100);
	outline-offset: 2px;
}

/* Banner */
.site-banner {
	color: var(--o-colors-white);
	background: var(--o-colors-slate);
}

.site-banner__logo {
	font-weight: bold;
}

.site-banner__menu {
}

.site-banner__menu a {
	color: inherit;
	opacity: 0.75;
}

.site-banner__menu a:hover,
.site-banner__menu a:active {
	opacity: 1;
}

.site-banner__menu a:focus {
	color: var(--o-colors-white);
}

@media screen and (max-width: 640px) {
	.site-banner__logo {
		padding: 8px 10px;
	}

	.site-banner__menu {
		display: flex;
	}

	.site-banner__menu a {
		flex-grow: 1;
		text-align: center;
		padding: 8px 10px;
	}

	.site-banner__menu a:focus {
		outline-offset: 0;
	}

	.site-banner__menu a.is-selected {
		background: rgba(0, 0, 0, 0.25);
	}
}

@media screen and (min-width: 640px) {
	.site-banner {
		display: flex;
		align-items: center;
		padding: 12px 20px;
	}

	.site-banner__logo {
		font-size: 20px;
	}

	.site-banner__menu {
		margin-left: auto;
	}

	.site-banner__menu a {
		margin-left: 1em;
	}

	.site-banner__menu a.is-selected {

	}
}
