:root {
	/* primary colors */
	--o-colors-paper: #fff1e5;
	--o-colors-black: #000000;
	--o-colors-white: #ffffff;
	--o-colors-claret: #990f3d;
	--o-colors-oxford: #0f5499;
	--o-colors-teal: #0d7680;

	/* secondary colors */
	--o-colors-wheat: #f2dfce;
	--o-colors-sky: #cce6ff;
	--o-colors-slate: #262a33;
	--o-colors-velvet: #593380;
	--o-colors-mandarin: #ff8833;
	--o-colors-lemon: #ffec1a;

	/* tertiary colors */
	--o-colors-candy: #ff7faa;
	--o-colors-wasabi: #96cc28;
	--o-colors-jade: #00b359;
	--o-colors-crimson: #cc0000;

	/* color shades */
	--o-colors-claret-30: #4d081f;
	--o-colors-claret-40: #660a29;
	--o-colors-claret-50: #800d33;
	--o-colors-claret-60: #990f3d;
	--o-colors-claret-70: #b31247;
	--o-colors-claret-80: #cc1452;
	--o-colors-claret-90: #e6175c;
	--o-colors-claret-100: #ff1a66;
	--o-colors-oxford-30: #082a4d;
	--o-colors-oxford-40: #0a3866;
	--o-colors-oxford-50: #0d4680;
	--o-colors-oxford-60: #0f5499;
	--o-colors-oxford-70: #1262b3;
	--o-colors-oxford-80: #1470cc;
	--o-colors-oxford-90: #177ee6;
	--o-colors-oxford-100: #1a8cff;
	--o-colors-teal-20: #052f33;
	--o-colors-teal-30: #08474d;
	--o-colors-teal-40: #0a5e66;
	--o-colors-teal-50: #0d7680;
	--o-colors-teal-60: #0f8e99;
	--o-colors-teal-70: #12a5b3;
	--o-colors-teal-80: #14bdcc;
	--o-colors-teal-90: #17d4e6;
	--o-colors-teal-100: #1aecff;

	/* color washes (not really from o-colors) */
	--o-colors-black-wash: #ebf2f0;
	--o-colors-claret-wash: #fbf5f7;
	--o-colors-oxford-wash: #f9fbfd;
	--o-colors-teal-wash: #f3f8f9;

	/* font-stacks */
	--font-sans: Lato, -apple-system, BlinkMacSystemFont, sans-serif;
	--font-mono: "Space Mono", Menlo, Monaco, Consolas, monospace;

	/* layout */
	--break-small: 760px;
	--break-large: 960px;

	--container-small: 360px;
	--container-readable: 760px;
	--container-large: 960px;
}


/* Globals */
body {
	margin: 0;
	color: #24292e;
	font-family: var(--font-sans);
	font-size: 16px;
	line-height: 1.5;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 760px) {
	body {
		font-size: 16px;
	}
}

a {
	/* name specific properties to avoid animating the focus outline */
	transition: color 0.1s, background-color 0.1s, border-color 0.1s, opacity 0.1s;
}

a,
a:hover {
	color: var(--o-colors-teal);
	text-decoration: none;
}

a:hover,
a:focus {
	color: var(--o-colors-teal-60);
}

a:focus {
	outline: 2px solid var(--o-colors-teal-100);
	outline-offset: 2px;
}

img {
	border: 0;
	max-width: 100%;
}


/* Preformatted text and code */
pre,
code {
	tab-size: 2;
	hyphens: none;
	font-size: 14px;
	font-family: var(--font-mono);
}

pre {
	background: var(--o-colors-teal-wash);
	padding: 8px 12px;
	overflow-x: auto;
}

pre code {
	display: block;
	white-space: pre;
}

:not(pre) > code {
	padding: 0 0.25em;
	color: var(--o-colors-claret-60);
	background: var(--o-colors-claret-wash);
}

table {
	outline: 3px solid var(--o-colors-black-wash);
	border: 1px solid #ddd;
	border-collapse: collapse;
}

thead th {
	background: var(--o-colors-black-wash);
}

th {
	text-align: left;
}

th,
td {
	padding: 4px 8px;
	border: 1px solid #ddd;
	border-top: 0;
	border-bottom: 0;
}

th:first-child,
td:first-child {
	border-left: 0;
}

/* Buttons */
.button {
	display: inline-block;
	padding: 12px 20px;
	border: 2px solid;
	font: inherit;
	font-weight: bold;
	color: var(--o-colors-teal);
	background: var(--o-colors-teal);
}

.button:hover,
.button:active {
	color: var(--o-colors-teal-80);
}

.button--inverse {
	color: var(--o-colors-white);
	background: transparent;
}

.button--inverse:hover,
.button--inverse:active {
	color: var(--o-colors-white);
	background: rgba(255, 255, 255, 0.25);
}

/* Re-usable layout */
.content-container {
	max-width: var(--container-small);
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 760px) {
	.content-container {
		max-width: var(--container-large);
	}
}

.readable-container {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--container-readable);
}


/* Site layout */
.site-layout {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.site-layout__header {}

.site-layout__content {
	padding: 10px;
	overflow: auto;
}

.site-layout__hero {}

.site-layout__support {
	display: none;
}

.site-layout__sidebar {}

.site-layout__footer {}

@media screen and (min-width: 760px) {
	.site-layout {
		min-height: 100vh;
		grid-template-columns: 280px auto;
		grid-template-areas: "header header" "sidebar main" "footer footer";
	}

	.site-layout__header {
		grid-area: header;
	}

	.site-layout__content {
		grid-area: main;
		max-width: 100%;
		margin: 0 auto;
		padding: 20px;
	}

	.site-layout__hero {
		/* full-bleed content area */
		grid-area: sidebar-start / sidebar-start / main-end / main-end;
	}

	.site-layout__sidebar {
		grid-area: sidebar;
	}

	.site-layout__footer {
		grid-area: footer;
	}
}

@media screen and (min-width: 960px) {
	.site-layout {
		grid-template-columns: 320px auto;
	}

	.site-layout__content {
		padding: 40px;
	}
}

/* Banner */
.site-banner {
	color: var(--o-colors-white);
	background: var(--o-colors-slate);
}

.site-banner__logo {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.site-banner__logo a {
	color: inherit;
}

.site-banner__menu {}

.site-banner__menu a {
	color: inherit;
	opacity: 0.65;
}

.site-banner__menu a:hover,
.site-banner__menu a:focus,
.site-banner__menu a.is-active {
	opacity: 1;
}

.site-banner__menu a.is-active {
	color: var(--o-colors-teal-100);
}

@media screen and (max-width: 760px) {
	.site-banner__logo {
		padding: 8px 10px;
		text-align: center;
	}

	.site-banner__menu {
		display: flex;
	}

	.site-banner__menu a {
		flex-grow: 1;
		text-align: center;
		padding: 8px 10px;
	}

	.site-banner__menu a:focus {
		outline-offset: 0;
	}

	.site-banner__menu a.is-active {
		background: rgba(0, 0, 0, 0.25);
	}
}

@media screen and (min-width: 760px) {
	.site-banner {
		display: flex;
		align-items: center;
		padding: 12px 20px;
	}

	.site-banner__menu {
		margin-left: auto;
	}

	.site-banner__menu a {
		margin-left: 1em;
	}
}


/* Sidebar */
.site-sidebar {
	box-sizing: border-box;
	min-height: 100%;
	padding: 12px 10px;
	background: var(--o-colors-teal-wash);
	border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.site-sidebar__heading {
	margin: 20px 0;
	font-weight: bold;
	text-transform: uppercase;
}

.site-sidebar__menu {
	margin: 0;
	padding: 0;
}

.site-sidebar__menu-item {
	display: block;
	margin-top: 4px;
}

.site-sidebar__menu-item a {
	color: var(--o-colors-black);
	opacity: 0.65;
}

.site-sidebar__menu-item a:hover,
.site-sidebar__menu-item a:focus,
.site-sidebar__menu-item a:active,
.site-sidebar__menu-item a.is-active {
	opacity: 1;
}

.site-sidebar__menu-item a.is-active {
	color: var(--o-colors-teal);
}

.site-sidebar__menu--submenu {
	margin: 8px 0;
	padding: 12px 16px;
	font-size: 14px;
	background: var(--o-colors-white);
	border-left: 2px solid rgba(0, 0, 0, 0.15);
}

.site-sidebar__menu--submenu:before {
	content: 'On this page:';
	display: block;
	font-weight: bold;
}

@media screen and (min-width: 760px) {
	.site-sidebar {
		padding: 24px 20px;
	}

	.site-sidebar__heading {
		/* margin-top: 32px; */
	}

	.site-sidebar__menu {
		position: sticky;
		top: 0;
	}

	.site-sidebar__menu--submenu {
		/* This is actually implicit b/c sticky elements cannot be in sticky elements */
		position: static;
	}
}


/* Site footer */
.site-footer {
	padding: 20px 20px 24px;
	font-size: 14px;
	color: var(--o-colors-white);
	background: var(--o-colors-slate);
}

.site-footer__small-print {
	margin: 0;
}

.site-footer__small-print small {
	font-size: inherit;
}

.site-footer__github {
	color: var(--o-colors-teal-100);
}

@media screen and (min-width: 760px) {
	.site-footer {
		display: flex;
	}

	.site-footer__github {
		margin-left: auto;
	}
}


/* Hero */
.hero {
	padding: 40px 20px;
	color: var(--o-colors-white);
	background: var(--o-colors-slate);
}

.hero__container {}

.hero__logo {
	margin: auto;
}

.hero__content {
	max-width: 480px;
	margin: auto;
	text-align: center;
}

.hero__content h1 {
	font-size: 32px;
	line-height: 1;
	text-transform: uppercase;
}

.hero__content p {
	margin: 20px 0;
	font-size: 20px;
}

@media screen and (min-width: 760px) {
	.hero {
		padding: 60px 20px;
	}

	.hero__container {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 1fr 2fr;
	}

	.hero__content {
		text-align: left;
	}

	.hero__content h1 {
		margin: 0;
		font-size: 48px;
	}

	.hero__content p {
		font-size: 24px;
	}
}


/* Intro */
.intro {
	padding: 20px;
}

.intro__container {}

.intro__module {}

.intro__module h2 {
	margin: 0;
	font-size: 20px;
}

.intro__module ul {
	margin: 20px 0;
	padding: 0;
}

.intro__module li {
	display: block;
	margin-top: 4px;
	/* encapsulate floating icon */
	overflow: hidden;
}

.intro__icon {
	float: left;
	width: 50px;
	margin-right: 12px;
}

@media screen and (min-width: 760px) {
	.intro {
		padding: 40px 20px;
	}

	.intro__container {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 1fr 1fr;
	}

	.intro__module li {
		margin-top: 12px;
	}

	.intro__module h2 {
		font-size: 24px;
	}
}


/* Module list */
.module-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.module-list__item {
	margin-bottom: 20px;
}

.module-list__item-link {
	display: block;
	padding: 12px 16px;
	background: var(--o-colors-teal-wash);
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.module-list__item-link:hover {
	border-color: var(--o-colors-teal-70);
}

.module-list__item-link h2 {
	margin: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 2.6em;
}

.module-list__item-link p {
	margin: 0;
	color: var(--o-colors-slate);
}

@media screen and (min-width: 760px) {
	.module-list {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 1fr 1fr;
	}

	.module-list__item-link {
		box-sizing: border-box;
		height: 100%;
		padding: 16px 20px;
	}

	.module-list__item-link h2 {
		margin: 0;
		font-size: 20px;
	}
}
