@import '@financial-times/o-colors/main';
@import '@financial-times/x-article-save-button/src/ArticleSaveButton';

.x-teaser-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.x-teaser-list-item {
	display: grid;
	grid-gap: 0 20px;
	grid-template: 'article actions' min-content / 1fr min-content;
	margin-bottom: 20px;
	border-bottom: 1px solid oColorsByName('black-20');

	.o-teaser--teaser-list {
		border-bottom: 0;
		padding-bottom: 0;
	}
}

.x-teaser-list-item__article {
	grid-area: article;
}

.x-teaser-list-item__actions {
	grid-area: actions;
}
