@import 'o-colors/main';

:global {
	@import "~@financial-times/x-article-save-button/dist/ArticleSaveButton";
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.listItem {
	display: grid;
	grid-gap: 0 20px;
	grid-template: "article actions" min-content / 1fr min-content;
	margin-bottom: 14px;
	padding-bottom:  4px;
	border-bottom: 1px solid oColorsGetPaletteColor('black-20');
}

.listItem__article {
	grid-area: article;
}

.listItem__actions {
	grid-area: actions;
}
