@import '@financial-times/o-spacing/main';

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.topContent {
	display: flex;
	flex-direction: column;
}

.standfirst {
	margin-top: oSpacingByName('s3');
}

.timestamp {
	display: block;
	margin-top: oSpacingByName('s3');
}
