@import '@financial-times/o-spacing/main';

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.topContent {
	display: flex;
	flex-direction: column;
}

.standfirst {
	margin-top: oSpacingByName('s3');
}

.footer {
	margin-top: oSpacingByName('s3');
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.timestamp {
	flex: 1;
	display: inline-block;
	align-self: center;
}

.saveButton {
	flex: 0;
}
