@import '@financial-times/o-typography/main';

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	align-items: stretch;
	grid-gap:  oTypographySpacingSize(6);
	padding-bottom: oTypographySpacingSize(3);
}

.image {
	 width: 100%;
}
