@import '@financial-times/o-spacing/main';

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	align-items: stretch;
	grid-gap:  oSpacingByName('s6');
	padding-bottom: oSpacingByName('s3');
}

.image {
	 width: 100%;
}
