@import '../../styles/vars';

@import 'o-colors/main';
@import 'o-grid/main';

.hero {
	@include oGridRow;
	@include oColorsFor(x-dash-hero, text);
	background-color: transparent;
}

.container {
	@include oGridContainer;
}

.logo {
	@include oGridColspan(4);
	@include oGridOffset(2);
	margin-top: -40px;
	margin-bottom: -40px;
}

.intro {
	@include oGridColspan(6);
}
