@import '../../styles/vars';

@import 'o-colors/main';
@import 'o-grid/main';
@import 'o-typography/main';

.hero {
	@include oGridRow;
	@include oColorsFor(x-dash-hero, text);
	background-color: transparent;

	padding: 16px 16px 32px;

	@include oGridRespondTo(L) {
		margin-top: 48px;
	}
}

.container {
	@include oGridContainer;
}

.logo {
	@include oGridColspan((default: 10, M: 5, L: 4));
	@include oGridOffset(1);

	order: 1;
	margin-top: 32px;

	@include oGridRespondTo(M) {
		order: 0;
		padding-right: 16px;
		margin-top: 0px;
		margin-bottom: -32px;
	}

	@include oGridRespondTo(L) {
		@include oGridOffset(1.5);
		margin-top: -32px;
	}
}

.intro {
	@include oGridColspan((default: 10, M: 6));
	@include oGridOffset(1);

	@include oGridRespondTo(M) {
		@include oGridOffset(0);
	}
}

.title {
	@include oTypographyDisplay(8);
	font-variant: small-caps;
	color: inherit;
	text-align: left;
}

.summary {
	@include oTypographySans(4);
	text-align: left;
}
