/*

This includes all the basic Origami styles and mixins you can
expect to be available when a page uses n-ui

*/
html,
body {
	margin: 0;
	text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; }

main {
	display: block; }

body:not(.js-focus-visible) :focus {
	outline: 2px solid #1aecff; }

body:not(.js-focus-visible) input:focus,
body:not(.js-focus-visible) textarea:focus,
body:not(.js-focus-visible) select:focus {
	box-shadow: 0 0 0 1px #1aecff; }

body.js-focus-visible .focus-visible {
	outline: 2px solid #1aecff; }

body.js-focus-visible input.focus-visible,
body.js-focus-visible textarea.focus-visible,
body.js-focus-visible select.focus-visible {
	box-shadow: 0 0 0 1px #1aecff; }

body.js-focus-visible :focus:not(.focus-visible) {
	outline: 0; }

:focus-visible,
body:not(.js-focus-visible) :focus {
	outline: unset; }

:focus-visible,
body:not(.js-focus-visible) input:focus,
body:not(.js-focus-visible) textarea:focus,
body:not(.js-focus-visible) select:focus {
	box-shadow: unset; }

:focus-visible {
	outline: 2px solid #1aecff; }

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
	box-shadow: 0 0 0 1px #1aecff; }

html:focus,
body:focus,
[readonly]:focus {
	outline: none; }

a {
	background-color: transparent; }

a:active,
a:hover {
	outline-width: 0; }

abbr[title] {
	border-bottom: 0;
	text-decoration: underline;
	text-decoration: underline dotted; }

b,
strong {
	font-weight: inherit; }

b,
strong {
	font-weight: bolder; }

dfn {
	font-style: italic; }

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline; }

sub {
	bottom: -0.25em; }

sup {
	top: -0.5em; }

img {
	border-style: none; }

optgroup {
	font-weight: bold; }

button,
input,
select {
	overflow: visible; }

button,
input,
select,
textarea {
	margin: 0; }

button,
select {
	text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
	cursor: pointer; }

[disabled] {
	cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0; }

textarea {
	overflow: auto; }

html:after {
	content: '{ "layout": "default", "gutter": "10px" }';
	display: none; }
@media (min-width: 30.625em) {
	html:after {
		content: '{ "layout": "S", "gutter": "10px" }'; } }
@media (min-width: 46.25em) {
	html:after {
		content: '{ "layout": "M", "gutter": "20px" }'; } }
@media (min-width: 61.25em) {
	html:after {
		content: '{ "layout": "L", "gutter": "20px" }'; } }
@media (min-width: 76.25em) {
	html:after {
		content: '{ "layout": "XL", "gutter": "20px" }'; } }

.o-grid-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-width: 240px;
	max-width: 1220px;
	/*autoprefixer: off*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 1220px;
	padding-left: 10px;
	padding-right: 10px; }
@media (min-width: 46.25em) {
	.o-grid-container {
		padding-left: 20px;
		padding-right: 20px; } }
@media (min-width: 46.25em) {
	.o-grid-container {
		max-width: 740px; } }
@media (min-width: 61.25em) {
	.o-grid-container {
		max-width: 980px; } }
@media (min-width: 76.25em) {
	.o-grid-container {
		max-width: 1220px; } }

.o-grid-container--bleed {
	padding-left: 0;
	padding-right: 0; }

.o-grid-row {
	clear: both;
	flex-wrap: wrap;
	display: flex;
	margin-left: -10px;
	zoom: 1; }
@media print {
	.o-grid-row {
		display: inherit; } }
@media (min-width: 46.25em) {
	.o-grid-row {
		margin-left: -20px; } }
.o-grid-row:before, .o-grid-row:after {
	content: '';
	display: table;
	display: flex; }
.o-grid-row:after {
	clear: both; }

[data-o-grid-colspan] {
	position: relative;
	float: left;
	flex: 1 1 0%;
	/*autoprefixer: off*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px; }
@media (min-width: 46.25em) {
	[data-o-grid-colspan] {
		padding-left: 20px; } }

[data-o-grid-colspan~="0"] {
	display: none; }

[data-o-grid-colspan~="1"] {
	display: block;
	flex-basis: 8.33333%;
	min-width: 8.33333%;
	max-width: 8.33333%;
	width: 8.33333%; }

[data-o-grid-colspan~="2"] {
	display: block;
	flex-basis: 16.66667%;
	min-width: 16.66667%;
	max-width: 16.66667%;
	width: 16.66667%; }

[data-o-grid-colspan~="3"] {
	display: block;
	flex-basis: 25%;
	min-width: 25%;
	max-width: 25%;
	width: 25%; }

[data-o-grid-colspan~="4"] {
	display: block;
	flex-basis: 33.33333%;
	min-width: 33.33333%;
	max-width: 33.33333%;
	width: 33.33333%; }

[data-o-grid-colspan~="5"] {
	display: block;
	flex-basis: 41.66667%;
	min-width: 41.66667%;
	max-width: 41.66667%;
	width: 41.66667%; }

[data-o-grid-colspan~="6"] {
	display: block;
	flex-basis: 50%;
	min-width: 50%;
	max-width: 50%;
	width: 50%; }

[data-o-grid-colspan~="7"] {
	display: block;
	flex-basis: 58.33333%;
	min-width: 58.33333%;
	max-width: 58.33333%;
	width: 58.33333%; }

[data-o-grid-colspan~="8"] {
	display: block;
	flex-basis: 66.66667%;
	min-width: 66.66667%;
	max-width: 66.66667%;
	width: 66.66667%; }

[data-o-grid-colspan~="9"] {
	display: block;
	flex-basis: 75%;
	min-width: 75%;
	max-width: 75%;
	width: 75%; }

[data-o-grid-colspan~="10"] {
	display: block;
	flex-basis: 83.33333%;
	min-width: 83.33333%;
	max-width: 83.33333%;
	width: 83.33333%; }

[data-o-grid-colspan~="11"] {
	display: block;
	flex-basis: 91.66667%;
	min-width: 91.66667%;
	max-width: 91.66667%;
	width: 91.66667%; }

[data-o-grid-colspan~="12"] {
	display: block;
	flex-basis: 100%;
	min-width: 100%;
	max-width: 100%;
	width: 100%; }

.o-grid-row--compact {
	margin-left: 0; }
.o-grid-row--compact > [data-o-grid-colspan] {
	padding-left: 0; }

@media (min-width: 30.625em) {
	[data-o-grid-colspan~="S0"] {
		display: none; }
	[data-o-grid-colspan~="S1"] {
		display: block;
		flex-basis: 8.33333%;
		min-width: 8.33333%;
		max-width: 8.33333%;
		width: 8.33333%; }
	[data-o-grid-colspan~="S2"] {
		display: block;
		flex-basis: 16.66667%;
		min-width: 16.66667%;
		max-width: 16.66667%;
		width: 16.66667%; }
	[data-o-grid-colspan~="S3"] {
		display: block;
		flex-basis: 25%;
		min-width: 25%;
		max-width: 25%;
		width: 25%; }
	[data-o-grid-colspan~="S4"] {
		display: block;
		flex-basis: 33.33333%;
		min-width: 33.33333%;
		max-width: 33.33333%;
		width: 33.33333%; }
	[data-o-grid-colspan~="S5"] {
		display: block;
		flex-basis: 41.66667%;
		min-width: 41.66667%;
		max-width: 41.66667%;
		width: 41.66667%; }
	[data-o-grid-colspan~="S6"] {
		display: block;
		flex-basis: 50%;
		min-width: 50%;
		max-width: 50%;
		width: 50%; }
	[data-o-grid-colspan~="S7"] {
		display: block;
		flex-basis: 58.33333%;
		min-width: 58.33333%;
		max-width: 58.33333%;
		width: 58.33333%; }
	[data-o-grid-colspan~="S8"] {
		display: block;
		flex-basis: 66.66667%;
		min-width: 66.66667%;
		max-width: 66.66667%;
		width: 66.66667%; }
	[data-o-grid-colspan~="S9"] {
		display: block;
		flex-basis: 75%;
		min-width: 75%;
		max-width: 75%;
		width: 75%; }
	[data-o-grid-colspan~="S10"] {
		display: block;
		flex-basis: 83.33333%;
		min-width: 83.33333%;
		max-width: 83.33333%;
		width: 83.33333%; }
	[data-o-grid-colspan~="S11"] {
		display: block;
		flex-basis: 91.66667%;
		min-width: 91.66667%;
		max-width: 91.66667%;
		width: 91.66667%; }
	[data-o-grid-colspan~="S12"] {
		display: block;
		flex-basis: 100%;
		min-width: 100%;
		max-width: 100%;
		width: 100%; } }

@media (min-width: 46.25em) {
	[data-o-grid-colspan~="M0"] {
		display: none; }
	[data-o-grid-colspan~="M1"] {
		display: block;
		flex-basis: 8.33333%;
		min-width: 8.33333%;
		max-width: 8.33333%;
		width: 8.33333%; }
	[data-o-grid-colspan~="M2"] {
		display: block;
		flex-basis: 16.66667%;
		min-width: 16.66667%;
		max-width: 16.66667%;
		width: 16.66667%; }
	[data-o-grid-colspan~="M3"] {
		display: block;
		flex-basis: 25%;
		min-width: 25%;
		max-width: 25%;
		width: 25%; }
	[data-o-grid-colspan~="M4"] {
		display: block;
		flex-basis: 33.33333%;
		min-width: 33.33333%;
		max-width: 33.33333%;
		width: 33.33333%; }
	[data-o-grid-colspan~="M5"] {
		display: block;
		flex-basis: 41.66667%;
		min-width: 41.66667%;
		max-width: 41.66667%;
		width: 41.66667%; }
	[data-o-grid-colspan~="M6"] {
		display: block;
		flex-basis: 50%;
		min-width: 50%;
		max-width: 50%;
		width: 50%; }
	[data-o-grid-colspan~="M7"] {
		display: block;
		flex-basis: 58.33333%;
		min-width: 58.33333%;
		max-width: 58.33333%;
		width: 58.33333%; }
	[data-o-grid-colspan~="M8"] {
		display: block;
		flex-basis: 66.66667%;
		min-width: 66.66667%;
		max-width: 66.66667%;
		width: 66.66667%; }
	[data-o-grid-colspan~="M9"] {
		display: block;
		flex-basis: 75%;
		min-width: 75%;
		max-width: 75%;
		width: 75%; }
	[data-o-grid-colspan~="M10"] {
		display: block;
		flex-basis: 83.33333%;
		min-width: 83.33333%;
		max-width: 83.33333%;
		width: 83.33333%; }
	[data-o-grid-colspan~="M11"] {
		display: block;
		flex-basis: 91.66667%;
		min-width: 91.66667%;
		max-width: 91.66667%;
		width: 91.66667%; }
	[data-o-grid-colspan~="M12"] {
		display: block;
		flex-basis: 100%;
		min-width: 100%;
		max-width: 100%;
		width: 100%; } }

@media (min-width: 61.25em) {
	[data-o-grid-colspan~="L0"] {
		display: none; }
	[data-o-grid-colspan~="L1"] {
		display: block;
		flex-basis: 8.33333%;
		min-width: 8.33333%;
		max-width: 8.33333%;
		width: 8.33333%; }
	[data-o-grid-colspan~="L2"] {
		display: block;
		flex-basis: 16.66667%;
		min-width: 16.66667%;
		max-width: 16.66667%;
		width: 16.66667%; }
	[data-o-grid-colspan~="L3"] {
		display: block;
		flex-basis: 25%;
		min-width: 25%;
		max-width: 25%;
		width: 25%; }
	[data-o-grid-colspan~="L4"] {
		display: block;
		flex-basis: 33.33333%;
		min-width: 33.33333%;
		max-width: 33.33333%;
		width: 33.33333%; }
	[data-o-grid-colspan~="L5"] {
		display: block;
		flex-basis: 41.66667%;
		min-width: 41.66667%;
		max-width: 41.66667%;
		width: 41.66667%; }
	[data-o-grid-colspan~="L6"] {
		display: block;
		flex-basis: 50%;
		min-width: 50%;
		max-width: 50%;
		width: 50%; }
	[data-o-grid-colspan~="L7"] {
		display: block;
		flex-basis: 58.33333%;
		min-width: 58.33333%;
		max-width: 58.33333%;
		width: 58.33333%; }
	[data-o-grid-colspan~="L8"] {
		display: block;
		flex-basis: 66.66667%;
		min-width: 66.66667%;
		max-width: 66.66667%;
		width: 66.66667%; }
	[data-o-grid-colspan~="L9"] {
		display: block;
		flex-basis: 75%;
		min-width: 75%;
		max-width: 75%;
		width: 75%; }
	[data-o-grid-colspan~="L10"] {
		display: block;
		flex-basis: 83.33333%;
		min-width: 83.33333%;
		max-width: 83.33333%;
		width: 83.33333%; }
	[data-o-grid-colspan~="L11"] {
		display: block;
		flex-basis: 91.66667%;
		min-width: 91.66667%;
		max-width: 91.66667%;
		width: 91.66667%; }
	[data-o-grid-colspan~="L12"] {
		display: block;
		flex-basis: 100%;
		min-width: 100%;
		max-width: 100%;
		width: 100%; } }

@media (min-width: 76.25em) {
	[data-o-grid-colspan~="XL0"] {
		display: none; }
	[data-o-grid-colspan~="XL1"] {
		display: block;
		flex-basis: 8.33333%;
		min-width: 8.33333%;
		max-width: 8.33333%;
		width: 8.33333%; }
	[data-o-grid-colspan~="XL2"] {
		display: block;
		flex-basis: 16.66667%;
		min-width: 16.66667%;
		max-width: 16.66667%;
		width: 16.66667%; }
	[data-o-grid-colspan~="XL3"] {
		display: block;
		flex-basis: 25%;
		min-width: 25%;
		max-width: 25%;
		width: 25%; }
	[data-o-grid-colspan~="XL4"] {
		display: block;
		flex-basis: 33.33333%;
		min-width: 33.33333%;
		max-width: 33.33333%;
		width: 33.33333%; }
	[data-o-grid-colspan~="XL5"] {
		display: block;
		flex-basis: 41.66667%;
		min-width: 41.66667%;
		max-width: 41.66667%;
		width: 41.66667%; }
	[data-o-grid-colspan~="XL6"] {
		display: block;
		flex-basis: 50%;
		min-width: 50%;
		max-width: 50%;
		width: 50%; }
	[data-o-grid-colspan~="XL7"] {
		display: block;
		flex-basis: 58.33333%;
		min-width: 58.33333%;
		max-width: 58.33333%;
		width: 58.33333%; }
	[data-o-grid-colspan~="XL8"] {
		display: block;
		flex-basis: 66.66667%;
		min-width: 66.66667%;
		max-width: 66.66667%;
		width: 66.66667%; }
	[data-o-grid-colspan~="XL9"] {
		display: block;
		flex-basis: 75%;
		min-width: 75%;
		max-width: 75%;
		width: 75%; }
	[data-o-grid-colspan~="XL10"] {
		display: block;
		flex-basis: 83.33333%;
		min-width: 83.33333%;
		max-width: 83.33333%;
		width: 83.33333%; }
	[data-o-grid-colspan~="XL11"] {
		display: block;
		flex-basis: 91.66667%;
		min-width: 91.66667%;
		max-width: 91.66667%;
		width: 91.66667%; }
	[data-o-grid-colspan~="XL12"] {
		display: block;
		flex-basis: 100%;
		min-width: 100%;
		max-width: 100%;
		width: 100%; } }

[data-o-grid-colspan~="center"] {
	margin-left: auto;
	margin-right: auto;
	float: none; }

@font-face {
	src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.2/FinancierDisplayWeb-Regular.woff");
	font-family: FinancierDisplayWeb;
	font-weight: 400;
	font-style: normal; }

@font-face {
	src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.2/FinancierDisplayWeb-Bold.woff");
	font-family: FinancierDisplayWeb;
	font-weight: 700;
	font-style: normal; }

@font-face {
	src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.2/MetricWeb-Regular.woff");
	font-family: MetricWeb;
	font-weight: 400;
	font-style: normal; }

@font-face {
	src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.2/MetricWeb-Semibold.woff");
	font-family: MetricWeb;
	font-weight: 600;
	font-style: normal; }

html {
	background-color: #fff1e5;
	color: #33302e;
	font-family: sans-serif;
	font-size: 0.8125em; }

a {
	color: #0a5e66;
	text-decoration: none;
	cursor: pointer;
	border-bottom: 2px solid #ced4cc; }
a:hover {
	color: #08474d;
	border-bottom-color: #9db6b2; }
a:focus {
	color: #08474d;
	outline: 2px solid #1aecff;
	border-bottom-color: transparent; }

.n-ui-hide {
	display: none; }

@media screen {
	/* stylelint-disable */
	.n-ui-hide\@screen {
		/* stylelint-enable */
		display: none; } }

@media print {
	/* stylelint-disable */
	.n-ui-hide\@print {
		/* stylelint-enable */
		display: none; } }

.no-js .n-ui-hide-no-js,
.js .n-ui-hide-js,
.core .n-ui-hide-core,
.enhanced .n-ui-hide-enhanced {
	display: none; }

.n-ui-text-center {
	text-align: center; }

.n-ui-text-left {
	text-align: left; }

.n-ui-text-right {
	text-align: right; }

.n-ui-truncate {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal; }

.o-normalise-clearfix {
	zoom: 1; }
.o-normalise-clearfix:before, .o-normalise-clearfix:after {
	content: '';
	display: table;
	display: flex; }
.o-normalise-clearfix:after {
	clear: both; }

.o-normalise-visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	margin: -1px;
	border: 0;
	overflow: hidden;
	padding: 0;
	width: 1px;
	height: 1px;
	white-space: nowrap; }

/*

This includes all the basic Origami styles and mixins you can
expect to be available when a page uses n-ui

*/
@font-face {
	src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.2/MetricWeb-Thin.woff");
	font-family: MetricWeb;
	font-weight: 100;
	font-style: normal; }

@font-face {
	src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.2/MetricWeb-Light.woff");
	font-family: MetricWeb;
	font-weight: 200;
	font-style: normal; }

@font-face {
	src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.2/MetricWeb-LightItalic.woff");
	font-family: MetricWeb;
	font-weight: 200;
	font-style: italic; }

@font-face {
	src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.2/MetricWeb-RegularItalic.woff");
	font-family: MetricWeb;
	font-weight: 400;
	font-style: italic; }

@font-face {
	src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.2/MetricWeb-Medium.woff");
	font-family: MetricWeb;
	font-weight: 500;
	font-style: normal; }

@font-face {
	src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.2/MetricWeb-Bold.woff");
	font-family: MetricWeb;
	font-weight: 700;
	font-style: normal; }

@font-face {
	src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.2/MetricWeb-BoldItalic.woff");
	font-family: MetricWeb;
	font-weight: 700;
	font-style: italic; }

@font-face {
	src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.2/FinancierDisplayWeb-LightItalic.woff");
	font-family: FinancierDisplayWeb;
	font-weight: 200;
	font-style: italic; }

@font-face {
	src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.2/FinancierDisplayWeb-MediumItalic.woff");
	font-family: FinancierDisplayWeb;
	font-weight: 500;
	font-style: italic; }

@font-face {
	src: url("https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.3.2/FinancierDisplayWeb-SemiboldItalic.woff");
	font-family: FinancierDisplayWeb;
	font-weight: 600;
	font-style: italic; }

.event-promo__title {
	display: inline-block;
	font-family: FinancierDisplayWeb, serif;
	font-size: 32px;
	line-height: 32px;
	font-weight: 700;
	color: inherit;
	text-decoration: none;
	border: 0;
	padding-bottom: 8px; }
.o-typography--loading-displayBold .event-promo__title {
	font-size: 28.8px;
	font-family: serif; }
@media (max-width: 30.615em) {
	.event-promo__title {
		margin-bottom: 0; } }
@media (min-width: 46.25em) {
	.event-promo__title {
		font-family: FinancierDisplayWeb, serif;
		font-size: 40px;
		line-height: 40px;
		font-weight: 700; }
	.o-typography--loading-displayBold .event-promo__title {
		font-size: 36px;
		font-family: serif; } }
@media (min-width: 61.25em) and (max-width: 76.24em) {
	.event-promo__title {
		font-family: FinancierDisplayWeb, serif;
		font-size: 32px;
		line-height: 32px;
		font-weight: 700; }
	.o-typography--loading-displayBold .event-promo__title {
		font-size: 28.8px;
		font-family: serif; } }

.event-promo__meta {
	font-family: MetricWeb, sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 300; }
.o-typography--loading-sans .event-promo__meta {
	font-size: 17.4px;
	font-family: sans-serif; }
@media (max-width: 30.615em) {
	.event-promo__meta {
		font-family: MetricWeb, sans-serif;
		font-size: 24px;
		line-height: 28px; }
	.o-typography--loading-sans .event-promo__meta {
		font-size: 20.88px;
		font-family: sans-serif; } }
.event-promo__meta p {
	margin: 0; }

.event-promo__visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	margin: -1px;
	border: 0;
	overflow: hidden;
	padding: 0;
	width: 1px;
	height: 1px;
	white-space: nowrap; }

.event-promo-inarticle {
	max-width: 700px;
	margin-bottom: 50px;
	margin-top: 30px;
	display: flex;
	position: relative; }
@media (max-width: 30.615em) {
	.event-promo-inarticle {
		flex-direction: column;
		flex-direction: column-reverse;
		padding: 0; } }
@media (min-width: 61.25em) and (max-width: 76.24em) {
	.event-promo-inarticle {
		width: 540px; } }

.event-promo-inarticle__blocks {
	display: flex; }
@media (max-width: 30.615em) {
	.event-promo-inarticle__blocks {
		flex-direction: column; } }

.event-promo__details {
	background-color: rgba(38, 42, 51, 0.9);
	color: #ffffff;
	z-index: 4;
	padding: 20px;
	display: flex;
	flex-flow: column;
	justify-content: space-between; }
.event-promo__details a:hover {
	color: #c5cbd4; }
@media (max-width: 30.615em) {
	.event-promo__details {
		max-width: 100%;
		margin-top: -40px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 0;
		padding: 20px;
		padding-bottom: 10px -6; } }
@media (min-width: 30.625em) {
	.event-promo__details {
		flex-basis: 60%;
		min-width: 385px; } }
@media (min-width: 30.625em) and (max-width: 46.24em) {
	.event-promo__details {
		flex-basis: 75%; } }
@media (min-width: 61.25em) and (max-width: 76.24em) {
	.event-promo__details {
		min-width: 300px; } }

.event-promo-inarticle__img-block a {
	border-bottom: none;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	margin-left: -100px;
	max-height: 213px; }
@media (max-width: 30.615em) {
	.event-promo-inarticle__img-block a {
		width: 100%; } }
@media (min-width: 61.25em) and (max-width: 76.24em) {
	.event-promo-inarticle__img-block a {
		max-height: 168px; } }

@media (max-width: 30.615em) {
	.event-promo-inarticle__img-block {
		min-height: 200px; } }

.event-promo-inarticle__img {
	position: relative;
	top: 0;
	right: 0;
	width: 100%; }
@media (min-width: 30.625em) {
	.event-promo-inarticle__img {
		width: 340px;
		z-index: -1; } }
@media (min-width: 46.25em) {
	.event-promo-inarticle__img {
		width: 380px; } }
@media (min-width: 61.25em) and (max-width: 76.24em) {
	.event-promo-inarticle__img {
		width: 300px; } }

.event-promo-inarticle__cta {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px; }
@media (max-width: 30.615em) {
	.event-promo-inarticle__cta {
		border-top: none;
		padding: 0; } }
@media (max-width: 30.615em) {
	.event-promo-inarticle__cta {
		flex-direction: column; } }
.event-promo-inarticle__cta > div {
	padding-top: 20px; }
@media (max-width: 30.615em) {
	.event-promo-inarticle__cta > div {
		justify-content: center;
		padding-bottom: 0; } }

@media (max-width: 30.615em) {
	.event-promo-inarticle__btn-block {
		width: 100%; } }

.event-promo-inarticle__btn {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
	margin: 0;
	border-style: solid;
	text-align: center;
	text-decoration: none;
	font-family: MetricWeb, sans-serif;
	font-weight: 600;
	border-radius: 0;
	cursor: pointer;
	transition: 0.3s background-color, 0.15s color ease-out, 0.15s border-color ease-out;
	user-select: none;
	background-clip: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-size: 21px 21px;
	min-height: 28px;
	min-width: 60px;
	padding: 6px 8px 6px 8px;
	font-size: 14px;
	line-height: 14px;
	border-width: 1px;
	background-color: transparent;
	color: #0d7680;
	border-color: #0d7680;
	background-color: transparent;
	color: #ffffff;
	border-color: #ffffff;
	background-size: 40px 40px;
	min-height: 40px;
	min-width: 80px;
	padding: 11px 20px 11px 20px;
	font-size: 16px;
	line-height: 16px;
	border-width: 1px;
	background-color: #3c3f45; }
.event-promo-inarticle__btn[aria-selected=true], .event-promo-inarticle__btn[aria-current], .event-promo-inarticle__btn[aria-pressed=true], .event-promo-inarticle__btn:active {
	background-color: #0d7680;
	color: #ffffff;
	border-color: #0d7680; }
.event-promo-inarticle__btn:not([disabled]):hover {
	background-color: rgba(13, 118, 128, 0.1);
	color: #0d7680;
	border-color: #0d7680;
	text-decoration: none; }
.event-promo-inarticle__btn:not([disabled]):focus {
	background-color: rgba(13, 118, 128, 0.1);
	color: #0d7680;
	border-color: #0d7680; }
.event-promo-inarticle__btn[disabled] {
	pointer-events: none;
	opacity: 0.4;
	cursor: default; }
.event-promo-inarticle__btn[aria-selected=true], .event-promo-inarticle__btn[aria-current], .event-promo-inarticle__btn[aria-pressed=true], .event-promo-inarticle__btn:active {
	background-color: #ffffff;
	color: #000000;
	border-color: #ffffff; }
.event-promo-inarticle__btn:not([disabled]):hover {
	background-color: #51555c;
	color: #ffffff;
	border-color: #ffffff;
	text-decoration: none; }
.event-promo-inarticle__btn:not([disabled]):focus {
	background-color: #51555c;
	color: #ffffff;
	border-color: #ffffff; }
@media (max-width: 30.615em) {
	.event-promo-inarticle__btn {
		width: 100%; } }
@media (min-width: 30.625em) {
	.event-promo-inarticle__btn {
		font-family: MetricWeb, sans-serif;
		font-size: 20px;
		line-height: 24px; }
	.o-typography--loading-sans .event-promo-inarticle__btn {
		font-size: 17.4px;
		font-family: sans-serif; } }

.event-promo-inarticle__btn:not([disabled]):hover {
	background-color: #565c64; }

.event-promo-inarticle__brand {
	display: flex;
	align-items: center;
	font-family: MetricWeb, sans-serif;
	font-size: 12px;
	line-height: 16px; }
.o-typography--loading-sans .event-promo-inarticle__brand {
	font-size: 10.44px;
	font-family: sans-serif; }
.event-promo-inarticle__brand span {
	padding-right: 10px; }
.event-promo-inarticle__brand::after {
	display: inarticle-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
	background-color: transparent;
	content: ' ';
	width: 60px;
	height: 60px;
	background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/specialisttitle-v1:brand-live-ft-logo?source=n-eventpromo"); }
@media (max-width: 30.615em) {
	.event-promo-inarticle__brand {
		align-self: flex-end; } }

.event-promo-animation .event-promo__control {
	cursor: pointer;
	z-index: 2;
	border-radius: 22px;
	height: 44px;
	width: 44px;
	top: 8px;
	right: 8px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center;
	background-color: transparent;
	vertical-align: baseline;
	background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:pause?source=o-icons&tint=%23FFFFFF,%23FFFFFF&format=svg);
	position: absolute;
	color: #ffffff;
	background-color: rgba(38, 42, 51, 0.4); }

.event-promo-animation .event-promo__control--paused {
	background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:play?source=o-icons&tint=%23FFFFFF,%23FFFFFF&format=svg); }

.event-promo-animation .fade-0 {
	opacity: 0;
	z-index: 1;
	animation: fade 20s 2s infinite; }

.event-promo-animation .fade-1 {
	opacity: 0;
	z-index: 0;
	animation: fade 20s 6s infinite; }

.event-promo-animation .fade-2 {
	opacity: 1;
	z-index: -1; }

.event-promo-animation .paused {
	animation-play-state: paused; }

@keyframes fade {
	0% {
		opacity: 0;
		transform-origin: bottom left;
		transform: scale(1); }
	25% {
		opacity: 1; }
	60% {
		opacity: 0; }
	100% {
		opacity: 0;
		transform: scale(1.2); } }
