@import '@financial-times/o-spacing/main';

$spacing-4: oSpacingByName('s4');

.container {
	display: flex;
	flex-direction: column;
	padding: $spacing-4 $spacing-4 oSpacingByName('s6') $spacing-4;
}

.timestamp {
	margin-top: $spacing-4;
}

.standfirst {
	margin-top: oSpacingByName('s3');
}

.heroMeta {
	margin-bottom: oSpacingByName('s2');
}
