@import '@financial-times/o-colors/main';

$_color-sky: oColorsGetPaletteColor('sky');
$_color-black: oColorsGetPaletteColor('black');
$_color-oxford: oColorsGetPaletteColor('oxford');
$_color-sky-60: oColorsGetTextColor($_color-sky, 60);

$_theme-opinion: (
	// container
	containerBgColor: $_color-sky,

	// meta
	metaColorPrimary: $_color-oxford,
	metaColorHover: $_color-sky-60,

	// title
	titleTextColor: $_color-black,
	titleTextColorHover: $_color-sky-60,

	// standfirst
	standfirstTextColor: $_color-sky-60,
);
