@import 'o-colors/main';

@include oColorsSetColor(
	'teal-white-95',
	oColorsMix('white', 'teal', 95)
);

@include oColorsSetColor(
	'teal-white-85',
	oColorsMix('white', 'teal', 85)
);

@include oColorsSetUseCase(x-dash-splash, background, 'slate');
@include oColorsSetUseCase(x-dash-splash, text, 'white');

@include oColorsSetUseCase(
	x-dash-box, background,
	'teal-white-95'
);

@include oColorsSetUseCase(
	x-dash-box, border,
	'teal-white-85'
);

@include oColorsSetUseCase(
	x-dash-box-hover, background,
	'teal-white-85'
);

@include oColorsSetUseCase(
	x-dash-box-hover, border,
	'teal-80'
);

$o-typography-load-fonts: false;

$o-typography-sans: 'Lato', sans-serif;
$o-typography-display: 'Muli', sans-serif;
$o-typography-serif: 'Lato', sans-serif;

$o-grid-gutters: (
	default: 16px,
	M:       48px,
);
