@import '../../styles/vars';

@import 'o-typography/main';

.footer {
	@include oTypographyWrapper;
	@include oTypographyPadding($top: 10, $bottom: 4);
	overflow: hidden;
	margin-top: 0;
}

.splash {
	p {
		@include oColorsFor(x-dash-splash, text);
	}

	//TODO why doesn't this override o-techdocs properly
	border: 0 none !important;
}

.parrot {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -32px;
	transform: translateY(100%);
	transition-property: transform;
	transition-duration: 10s;

	.githubLink:hover + & {
		transform: translateY(0);
	}
}
