@import '@financial-times/o-spacing/main';

$spacing-4: oSpacingByName('s4');
$spacing-3: oSpacingByName('s3');
$spacing-2: oSpacingByName('s2');

.container {
	display: flex;
	flex-direction: column;
}

.image {
	width: 100%;
	flex: 0;
}

.body {
	padding: $spacing-3 0;
	flex: 1;
}

.isPadded {
	padding: $spacing-3 $spacing-4 $spacing-4 $spacing-4;
}

.isTopAndBottomPadded {
	padding: $spacing-3 0;
}
