@import '../../styles/vars';
@import 'o-colors/main';
@import 'o-typography/main';
@import 'o-labels/main';

.card {
	@include oColorsFor(x-dash-box);
	@include oTypographySans(0);

	display: block;
	border-width: 1px;
	border-style: solid;
	border-radius: .2em;
	padding: .75em;
	text-decoration: none;

	&:hover {
		@include oColorsFor(x-dash-box-hover);
	}
}

.header {
	@include oTypographyDisplay(3);
	margin: 0 0 .5em;
	font-weight: 200;
}

.label {
	@include oLabels(normal, -2);
	margin-left: .5em;
}

.description {
	margin: 0;
}
