@import '@financial-times/o-colors/main';
@import '@financial-times/o-grid/main';
@import '@financial-times/o-normalise/main';
@import '@financial-times/o-spacing/main';
@import '@financial-times/o-typography/main';

$transitionDuration: 0.1s;

.x-privacy-manager-radio-button__input {
	@include oNormaliseVisuallyHidden;
}

.x-privacy-manager-radio-button {
	flex: 1;

	& + .x-privacy-manager-radio-button {
		margin-top: oSpacingByName(s4);

		@include oGridRespondTo($from: S) {
			margin-top: 0;
			margin-left: oSpacingByName(s4);
		}
	}
}

.x-privacy-manager-label {
	transition: background-color, color;
	transition-duration: $transitionDuration;

	display: flex;
	align-items: center;

	// Ensure that buttons remain same height in cases of content of differing lengths
	height: 100%;

	padding: oSpacingByName(s6) oSpacingByName(s4);
	border: 2px solid oColorsByName('teal');
	cursor: pointer;
	background-color: oColorsByName('white');

	.x-privacy-manager-radio-button__input:checked + & {
		background-color: oColorsByName('teal');
		color: oColorsByName('white');
	}

	// Since <input> itself is hidden, apply a familiar focus style to the visible <label>
	// As adjacent siblings we can reflect the <input>'s focus state here
	.x-privacy-manager-radio-button__input:focus + & {
		outline: 2px solid oColorsByName('teal-40');
		outline-offset: 3px;
		background-color: oColorsByName('teal-40');
	}

	// Prevent fastclick from blocking events from child elements bubbling up to trigger a change
	& > * {
		pointer-events: none;
	}
}

.x-privacy-manager-label__text {
	flex: 1;

	margin-right: oSpacingByName(s2);

	& > strong {
		display: block;
		font-size: 1.2rem;
		font-weight: 600;
	}

	& > span {
		display: block;
		margin-top: oSpacingByName(s1);
	}
}

.x-privacy-manager-label__icon {
	$icon-size: 28px;
	width: $icon-size;
	height: $icon-size;
}

.x-privacy-manager-label__icon-outer {
	transition: stroke $transitionDuration;

	stroke: currentColor;
	stroke-width: 3px;
	fill: transparent;

	.x-privacy-manager-radio-button__input:not(:checked) + .x-privacy-manager-label:hover & {
		stroke: oColorsByName('teal-40');
	}
}

.x-privacy-manager-label__icon-inner {
	transition: fill $transitionDuration;

	fill: transparent;

	.x-privacy-manager-radio-button__input:not(:checked) + .x-privacy-manager-label:hover & {
		fill: oColorsByName('teal-40');
	}

	.x-privacy-manager-radio-button__input:checked + .x-privacy-manager-label & {
		fill: currentColor;
	}
}
