@import '@financial-times/o-spacing/main';

.container {
	display: flex;
	justify-content: space-between;
}

.image {
	max-width: 120px;
	flex: 0;
}

.content {
	flex: 1;
	padding: 0 oSpacingByName('s4');
}
