@import '../../styles/vars';
@import 'o-typography/main';
@import 'o-colors/main';

.sidebar {
	padding-left: 32px !important;
	margin-bottom: 32px;

	@include oGridRespondTo(M) {
		@include oColorsFor(x-dash-box);
		margin-bottom: 0;
		border-right-width: 1px;
		border-right-style: solid;
	}
}

.nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header {
	@include oTypographySansBold(0, $line-height: 28px);
	color: oColorsGetPaletteColor('slate');
	display: block;

	& + .nav {
		@include oColorsFor(x-dash-box, border);
		border-left-width: 1px;
		border-left-style: dotted;
		padding-left: 0.5em;
	}
}

.item {
	@include oTypographySans(0, $line-height: 28px);
}

.link {
	text-decoration: none;
	color: oColorsGetPaletteColor('slate');

	&:hover, &:active {
		@include oTypographyLink;
	}
}

.active {
	@include oTypographySansBold(0, $line-height: 28px);
	color: oColorsGetPaletteColor('teal');
	position: relative;

	&::before {
		@include oTypographySans(-1, $line-height: 28px);
		content: '◆';
		position: absolute;
		left: -1em;
		height: 28px;
		top: 0;
		margin-top: -5px;
	}
}

.root {
	> .item {
		> .header,
		> .link {
			@include oTypographyDisplay(0);
			font-weight: normal;
			margin-bottom: 1em;
			text-transform: uppercase;
		}

		&:not(:last-child) {
			@include oColorsFor(x-dash-box, border);
			border-bottom-width: 1px;
			border-bottom-style: dotted;
			padding-bottom: 1em;
		}

		margin-right: 1em;
		margin-bottom: 1em;
	}

	.nav {
		margin-bottom: 1em;
	}
}

.topLevel {
	font-weight: 800 !important;
}
