@import '@financial-times/o-spacing/main';

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.image {
	width: 100%;
	flex: 0;
}

.content {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	padding: oSpacingByName('s3') 0;
}
