@import 'o-icons/main';
@import 'o-colors/main';
@import 'o-typography/main';

$icon-size: 38px;

@mixin background-icon($name, $color) {
	@include oIconsGetIcon($name, oColorsGetPaletteColor($color), $icon-size, $iconset-version: 1);
}

.root {
	display: inline-block;
}

.button {
	@include background-icon(bookmark-outline, 'black');
	@include oTypographySans($scale: -2);
	border: 0;
	padding: ($icon-size - 5px) 0 0 0;
	width: $icon-size;
	color: getColor('black');

	&:focus {
		outline: 3px solid getColor('teal-40');
		outline-offset: 3px;
	}

	&:hover {
		@include background-icon(bookmark, 'black-50');
	}

	&[aria-pressed=true]:not(:hover) {
		@include background-icon(bookmark, 'claret');
	}
}
