@import 'o-colors/main';
@import '../styles/vars';

:not(pre) > code[class*="language-"], pre[class*="language-"] {
	@include oColorsFor(x-dash-box);
	border-width: 1px;
	border-style: solid;

	&::selection, ::selection {
		background: oColorsGetColorFor(x-dash-box, 'border');
	}
}
