@import '../styles/vars';
@import 'o-colors/main';

code[class*="language-"],
pre[class*="language-"] {
	tab-size: 3;
	hyphens: none;
	white-space: pre-wrap;
	word-wrap: normal;
	font-family: "Roboto Mono", Menlo, Monaco, Consolas, monospace;
	text-shadow: none;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
	@include oColorsFor(x-dash-box);
	border-width: 1px;
	border-style: solid;
}

pre[class*="language-"] {
	padding: 1em;
	border-radius: .25em;
	overflow-x: auto;
}

pre[class*="language-"] {
	position: relative;
}
pre[class*="language-"] code {
	white-space: pre;
	display: block;
}

:not(pre) > code[class*="language-"] {
	padding: 0.15em 0.2em 0.05em;
	border-radius: .25em;
}

.token {
	&.punctuation,
	&.comment,
	&.prolog,
	&.doctype,
	&.cdata {
		color: oColorsGetPaletteColor(black-30);
	}

	&.operator {
		color: oColorsGetPaletteColor(mandarin);
	}

	&.boolean,
	&.number {
		color: oColorsGetPaletteColor(velvet);
	}

	&.regex,
	&.attr-value,
	&.string,
	&.property,
	&.url {
		color: oColorsGetPaletteColor(oxford-90);
	}

	&.selector,
	&.tag {
		color: oColorsGetPaletteColor(teal-70);
	}

	&.function,
	&.inserted {
		color: oColorsGetPaletteColor(jade);
	}

	&.attr-name,
	&.rule,
	&.keyword,
	&.important,
	&.deleted {
		color: oColorsGetPaletteColor(claret-90);
	}

	&.bold {
		font-weight: bold;
	}

	&.italic {
		font-style: italic;
	}

	&.entity {
		cursor: help;
	}
}
