@import '../styles/vars';
@import 'o-typography/main';
@import 'o-icons/main';

.shadow {
	transition: opacity 0.2s;

	&:global(.resolving) {
		opacity: 0;
	}

	&:global(.resolved) {
		opacity: 1;
	}
}

.storybookLink {
	@include oTypographySansBold(0);
	margin-left: 0.5em;

	&::before {
		@include oIconsGetIcon(
			'newspaper',
			oColorsGetColorFor(link, text),
			nth(oTypographyGetScale(0), 2)
		);

		content: '';
		vertical-align: bottom;
	}

	&:hover::before {
		@include oIconsGetIcon(
			'newspaper',
			oColorsGetPaletteColor('teal-30'),
			nth(oTypographyGetScale(0), 2)
		);

		vertical-align: bottom;
	}
}

.storybookIcon {
	width: 1.5em;
	vertical-align: middle;
}
