@import 'o-icons/main';
@import 'o-colors/main';


$o-typography-load-fonts: false;
@import 'o-typography/main';
@include oTypography();

$height--minimised: 48px;
$image-size: 160px;

@mixin expandedButtonsStyle {
	border: none;
	width: 64px;
	height: 64px;
	background-color: oColorsGetPaletteColor('white');
	margin: 16px;
	border-radius: 32px;

	&:focus,
	&:hover{
		background-color: oColorsMix('black', 'white', 10);
	}
}

@mixin minimisedButtonsStyle {
	border: none;
	background-color: oColorsGetPaletteColor('slate');
	margin: 4px;
	border-radius: 20px;

	&:focus,
	&:hover{
		background-color: oColorsMix('slate', 'white', 80);
	}
}

.audio-player {
	display: grid;
	@include oTypographySans();
}

.audio-player--expanded {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 48px auto auto auto min-content 96px 72px;
	grid-template-areas: ". . minimise-button"
	"image image image"
	"title title title"
	"series-name series-name series-name"
	"timeline timeline timeline"
	"rewind play-pause forward"
	". control-speed .";
	padding: 0px 20px;
	border-radius: 10px 10px 0px 0px;
	background-color: oColorsGetPaletteColor('white');
	color: oColorsGetPaletteColor('black');
}

.audio-player__timeline {
	grid-area: timeline;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto min-content;
	grid-template-areas: "control-timeline control-timeline control-timeline"
	"status . remaining";
	display: grid;
}


.audio-player--minimised {
	grid-template-columns: $height--minimised auto $height--minimised;
	grid-template-areas: "play-pause series-name close-button"
	"play-pause status close-button";
	height: $height--minimised;
	border-radius: 24px;
	background-color: oColorsGetPaletteColor('slate');
	color: oColorsGetPaletteColor('white');
}

.audio-player__play-pause {
	grid-area: play-pause;
	justify-self: center;

	.audio-player--expanded & {
		@include expandedButtonsStyle;
	}

	.audio-player--minimised & {
		@include minimisedButtonsStyle;
	}
}

.audio-player__play-pause--play {
	.audio-player--expanded & {
		@include oIconsGetIcon('play', oColorsGetPaletteColor('black'), 64);
		background-position: 3px;
	}

	.audio-player--minimised & {
		@include oIconsGetIcon('play', oColorsGetPaletteColor('white'), 36);
		background-size: 36px;
		background-position: center center;
		width: 40px;
		height: 40px;
		background-position: 3px;
	}
}

.audio-player__play-pause--pause {
	.audio-player--expanded & {
		@include oIconsGetIcon('pause', oColorsGetPaletteColor('black'), 64);
	}

	.audio-player--minimised & {
		@include oIconsGetIcon('pause', oColorsGetPaletteColor('white'), 36);
		background-size: 36px;
		background-position: center center;
		width: 40px;
		height: 40px;
	}
}

.audio-player__close {
	@include oIconsGetIcon('cross', oColorsGetPaletteColor('white'), 24);
	@include minimisedButtonsStyle;
	background-size: 24px;
	background-position: center center;
	width: 40px;
	height: 40px;
	grid-area: close-button;
}

.audio-player__rewind {
	@include oIconsGetIcon('skip-backward-30', oColorsGetPaletteColor('black'), 64);
	@include expandedButtonsStyle;
	grid-area: rewind;
	justify-self: end;
}

.audio-player__forward {
	@include oIconsGetIcon('skip-forward-30', oColorsGetPaletteColor('black'), 64);
	@include expandedButtonsStyle;
	grid-area: forward;
	justify-self: start;
}


.audio-player__minimise-button {
	@include oIconsGetIcon('arrow-down', oColorsGetPaletteColor('black'), 32);
	grid-area: minimise-button;
	justify-self: end;
	align-self: center;
	border: none;
}

.audio-player__control-scrub {
	grid-area: control-timeline;
	padding-top: 24px;
}

.audio-player__control-speed {
	@include oTypographySansBold($scale: 2);
	grid-area: control-speed;
	justify-self: center;
	height: 44px;
	width: 88px;
	margin: 14px 0px;
	border: none;
	background-color: transparent;
	color: oColorsGetPaletteColor('teal');
}

.audio-player__info__title {
	grid-area: title;
	white-space: nowrap;
	overflow: hidden;
	align-self: center;

	.audio-player--expanded & {
		@include oTypographySans($scale: 0);
		justify-self: center;
		margin-top: 12px;
	}

	.audio-player--minimised & {
		@include oTypographySansBold($scale: -1);
	}
}

.audio-player__info__series-name {
	@include oTypographySansBold($scale: -1);
	grid-area: series-name;
	align-self: center;

	.audio-player--expanded & {
		justify-self: center;
		margin-top: 4px;
	}

	.audio-player--minimised & {
		margin-left: 8px;
		margin-right: 4px;
		white-space: nowrap;
	}
}

.audio-player__info__image {
	grid-area: image;
	position: relative;
	justify-self: center;

	img {
		max-width: $image-size;
		max-height: $image-size;
	}
}

.audio-player__info__remaining {
	.audio-player--expanded & {
		@include oTypographySans($scale: -1);
		grid-area: remaining;
		justify-self: end;
		margin-bottom: 12px;
	}

	.audio-player--minimised & {
		@include oTypographySans($scale: -2);
		grid-area: status;
		align-self: center;
		margin-left: 8px;
	}
}

.audio-player__info__current-time {
	@include oTypographySans($scale: -1);
	grid-area: status;
	justify-self: start;
}

.audio-player__status {
	grid-area: status;
	display: flex;
	align-items: center;

	.audio-player--expanded & {
		@include oTypographySans($scale: -1);
		margin-bottom: 12px;
	}

	.audio-player--minimised & {
		@include oTypographySize($scale: -2);
		margin-left: 8px;
	}

	/* make the mini spinner smaller*/
	.audio-player__loader {
		width: 8px;
		height: 8px;
		margin-right: 4px;
	}
}


$disabledColor: #ccc;
$border-radius-base: 6px;
$primary-scrubber-color: oColorsGetPaletteColor('teal');

@mixin borderBox(){
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); //  remove tap highlight color for mobile safari

	* {
		box-sizing: border-box;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); //  remove tap highlight color for mobile safari
	}
}

.audio-player__scrubber {
	position: relative;
	height: 14px;
	padding: 5px 0;
	width: 100%;
	border-radius: $border-radius-base;
	touch-action: none;
	@include borderBox();

	&-rail {
		position: absolute;
		width: 100%;
		background-color: oColorsMix('black', 'white', 10);
		height: 3px;
		border-radius: $border-radius-base;
	}

	&-track {
		position: absolute;
		left: 0;
		height: 3px;
		border-radius: $border-radius-base;
		background-color:  $primary-scrubber-color;
	}

	&-handle {
		position: absolute;
		margin-left: -23px;
		margin-top: -21px;
		width: 44px;
		height: 44px;
		cursor: pointer;
		cursor: -webkit-grab;
		cursor: grab;
		touch-action: pan-x;

		&:focus {
			outline: none !important;
		}

		&::before {
			content: '';
			display: block;
			border-radius: 50%;
			background-color: $primary-scrubber-color;
			box-shadow: 0 2px 4px oColorsMix('black', 'white', 50);
			width: 12px;
			height: 12px;
			margin-left: 16px;
			margin-top: 16px;
		}
	}
}

.audio-player__scrubber-rail {
	--buffered-width: 70%;
}
// .audio-player__scrubber-rail::after {
// 	content: '';
// 	display: block;
// 	position: relative;
// 	height: 100%;
// 	width: var(--buffered-width);
// 	background-color: green;
// }
