@import '@financial-times/o-buttons/main';
@import '@financial-times/o-colors/main';
@import '@financial-times/o-grid/main';
@import '@financial-times/o-spacing/main';
@import '@financial-times/o-typography/main';

@import './components/radio-btn';

%vertical-middle {
	display: inline-block;
	vertical-align: middle;
}

.x-privacy-manager__spinner {
	@extend %vertical-middle;
}

.x-privacy-manager__loading {
	@extend %vertical-middle;
	margin-left: oSpacingByName(s4);
}

.x-privacy-manager {
	@include oTypographySans($scale: 0, $line-height: 1.6);

	display: grid;
	gap: oSpacingByName(s8);

	& * {
		box-sizing: border-box;
	}
}

.x-privacy-manager__title {
	@include oTypographyHeading($level: 1);
}

.x-privacy-manager__consent-copy {
	padding: 0 oSpacingByName(m12);
	font-weight: 600;
	text-align: center;

	a {
		@include oTypographyLink;
	}
}

.x-privacy-manager-form {
	display: grid;
	gap: oSpacingByName(s8);
}

.x-privacy-manager-form__title {
	@include oTypographyHeading($level: 4);

	margin-top: oSpacingByName(s8);
}

.x-privacy-manager-form__controls {
	@include oGridRespondTo($from: S) {
		display: flex;
	}

	margin-top: oSpacingByName(s6);
}

.x-privacy-manager-form__submit {
	justify-self: center;

	@include oButtonsContent(
		$opts: (
			'type': 'primary',
			'size': 'big'
		)
	);

	display: block;
	padding: 0 oSpacingByName(m12);

	&:focus-visible {
		outline: 2px solid oColorsByName('teal-40');
		outline-offset: 3px;
		background-color: oColorsByName('teal-40');
	}
}
