@import 'o-colors/main';

$myft-lozenge-themes: (
	standard: (
		background: getColor('claret'),
		text: getColor('white'),
		highlight: getColor('claret-50'),
		pressed-highlight: rgba(getColor('black'), 0.05),
		disabled: rgba(getColor('black'), 0.5)
	),
	inverse: (
		background: getColor('white'),
		text: getColor('claret'),
		highlight: rgba(white, 0.8),
		pressed-highlight: rgba(white, 0.2),
		disabled: rgba(getColor('white'), 0.5)
	),
	opinion: (
		background: getColor('oxford-40'),
		text: getColor('white'),
		highlight: getColor('oxford-30'),
		pressed-highlight: rgba(getColor('oxford-40'), 0.2),
		disabled: rgba(getColor('black'), 0.5)
	),
	monochrome: (
		background: getColor('white'),
		text: getColor('black'),
		highlight: getColor('white-80'),
		pressed-highlight: rgba(getColor('white'), 0.2),
		disabled: rgba(getColor('white'), 0.5)
	)
);

@function getThemeColor($key) {
	@return map-get($theme-map, $key);
}

@mixin withTheme($theme) {
	@if type-of($theme) == 'map' {
		$theme-map: $theme !global;
	} @else {
		$theme-map: map-get($myft-lozenge-themes, $theme) !global;
	}

	@content;

	// stylelint-disable order/order
	$theme-map: null !global;
}