@mixin getIcon($name, $color) {
	@include oIconsContent($icon-name: $name, $size: 10, $color: $color, $iconset-version: 1);
	content: '';
}

@mixin plusIcon($color) {
	@include getIcon('plus', $color);
	background-size: 25px;
	margin: 0 6px -1px 0;
}

@mixin tickIcon($color) {
	@include getIcon('tick', $color);
	background-size: 21px;
}

@mixin myftToggleIcon($theme: standard) {
	@include withTheme($theme) {
		&::before {
			@include plusIcon(getThemeColor(background));
		}

		&[aria-pressed="true"] {
			&::before {
				@include tickIcon(getThemeColor(text));
			}
		}

		&[disabled],
		&[disabled]:hover {
			background: transparent;

			&::before {
				@include plusIcon(getThemeColor(disabled));
				opacity: 0.5;
			}

			&[aria-pressed="true"]::before {
				@include tickIcon(getThemeColor(disabled));
			}
		}
	}
}
