@import '../../styles/vars';
@import 'o-typography/main';

.header {
	display: flex;
	align-items: center;
	height: 48px;
}

.left, .right {
	flex: 1;
	display: flex;
}

.right {
	justify-content: flex-end;
}

.logo {
	vertical-align: middle;
	width: 32px;
	margin: 8px 16px 8px 0;
}

.logoText {
	@include oTypographyDisplay(1, $line-height: 48px);
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
}

.item {
	padding: 0 10px;
}

.link {
	@extend .item;
	@include oTypographySansBold(0, $line-height: 48px);
	display: inline-block;
	color: white;
	text-decoration: none;

	&:hover {
		background: rgba(255, 255, 255, 0.1);
	}

	&:active {
		background: rgba(0, 0, 0, 0.1);
	}
}
