@import '../../styles/vars';
@import 'o-typography/main';
@import 'o-visual-effects/main';

.search {
	@include oTypographySansBold(0, $line-height: 28px);
	color: white;
	border: 0 none;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: none;
	border-radius: 2px;
	padding: 0 10px;

	&::placeholder {
		font-weight: normal;
		color: white;
	}
}

.results {
	@include oVisualEffectsShadowsElevation('high');

	position: absolute;
	background: white;
	z-index: 100;
	list-style: none;
	padding: 8px 32px;
	margin: 0;
	border: 1px solid oColorsMix('teal', 'white', 30);
	border-radius: 2px;

	transition: opacity 0.25s;
	opacity: 0;
	pointer-events: none;

	min-width: 200px;
	max-width: 600px;

	.search:focus + &,
	&:hover {
		pointer-events: all;
		opacity: 1;
	}
}

.result {
	@include oTypographySansBold(0);

	a {
		display: block;
		font-weight: bold !important;
	}
}

.highlight {
	@include oTypographySans(0);
	opacity: 0.6;
	margin-left: 8px;
}
