@import '@financial-times/o-colors/main';
@import '@financial-times/o-grid/main';
@import '@financial-times/o-typography/main';

@import '@financial-times/x-article-save-button/src/ArticleSaveButton';

.x-teaser-timeline__item-group {
	border-top: 4px solid #000;

	@include oGridRespondTo($from: M) {
		display: grid;
		grid-gap: 0 20px;
		grid-template-columns: 1fr 3fr;
		grid-template-areas: 'heading articles';
	}
}

.x-teaser-timeline__heading {
	@include oTypographySans($scale: 1, $weight: 'bold');
	margin-top: oSpacingByName('s2');
	margin-bottom: oSpacingByName('s2');

	@include oGridRespondTo($from: M) {
		grid-area: heading;
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
}

.x-teaser-timeline__items {
	list-style-type: none;
	padding: 0;
	margin-top: oSpacingByName('s2');

	@include oGridRespondTo($from: M) {
		grid-area: articles;
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}
}

.x-teaser-timeline__item {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid oColorsByName('black-20');
	margin-bottom: oSpacingByName('s2');

	:global {
		.o-teaser--timeline-teaser {
			border-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.x-teaser-timeline__item-actions {
	flex: 0 1 auto;
	padding-left: 10px;
}
