@import '@financial-times/o3-foundation/css/core.css';
@import '@financial-times/o-grid/main';

@import '@financial-times/x-article-save-button/src/ArticleSaveButton';
@import '@financial-times/x-teaser/src/Teaser';

.x-teaser-timeline__item-group {
	border-top: 4px solid var(--o3-color-palette-black);

	@include oGridRespondTo($from: M) {
		display: grid;
		grid-gap: 0 20px;
		grid-template-columns: 1fr 3fr;
		grid-template-areas: 'heading articles';
	}
}

.x-teaser-timeline__heading {
	margin-top: var(--o3-spacing-4xs);
	margin-bottom: var(--o3-spacing-4xs);

	@include oGridRespondTo($from: M) {
		grid-area: heading;
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
}

.x-teaser-timeline__items {
	list-style-type: none;
	padding: 0;
	margin-top: var(--o3-spacing-4xs);

	@include oGridRespondTo($from: M) {
		grid-area: articles;
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}
}

.x-teaser-timeline__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--o3-spacing-4xs);

	:global {
		.o-teaser--timeline-teaser {
			border-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.x-teaser-timeline__item-actions {
	flex: 0 1 auto;
	padding-left: 10px;
}
