:global {
	@import "~@financial-times/x-follow-button/dist/FollowButton";
}

.container {
	font-family: MetricWeb,sans-serif;
	width: 100%;
}

.heading {
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	margin: 0 0 12px;
}

.podcast-app-links__wrapper {
	list-style: none;
	padding: 8px 0 0;
	margin: 0;
}

.podcast-app-link {
	width: 100%;
	margin-bottom: 8px;
}

.rss-url__wrapper {
	margin-top: 0px;
	margin-bottom: 24px;
}

.rss-url__input {
	max-width: none;
}

.rss-url__copy-button {
	padding-left: 0px;
}

.rss-url__copy-span {
	user-select: text;
	position: absolute;
	clip: rect(0 0 0 0);
	margin: -1px;
	border: 0;
	overflow: hidden;
	padding: 0;
	width: 1px;
	height: 1px;
	white-space: nowrap;
}
