<!doctype html>
<html>
<head>
	<title>x-dash SSR interactivity demo</title>
	{{#each cssAssets}}
		<link rel="stylesheet" href="{{@root.publicPath}}/{{.}}" />
	{{/each}}
</head>
<body>
	<div id="root">
		{{{x package="x-increment" component="Increment" id="x-ssr-increment-1" count=1 timeout=1000 serialiser=@root.serialiser}}}

		<button id='external-button'>Increment by 5, externally</button>
	</div>

	{{#each jsAssets}}
		<script src="{{@root.publicPath}}/{{.}}"></script>
	{{/each}}

	{{{x package="x-interaction" component="HydrationData" serialiser=@root.serialiser}}}
</body>
</html>
