@import 'src/lib/variables';

$o-buttons-is-silent: true;
@import 'o-buttons/main';

$o-loading-is-silent: true;
@import 'o-loading/main';

$o-forms-is-silent: true;
@import 'o-forms/main';

$o-message-is-silent: true;
@import 'o-message/main';

.container {
	// todo replace with oTypography
	font-family: MetricWeb,sans-serif;
}

.share-form {
	max-width: none;
	padding: 0;
	margin: 0;

	@include oForms($opts: (
		'elements': ('text', 'radio-round'),
		'features': ('inline', 'disabled')
	));

	.radio-button-section {
		margin-bottom: 12px;
	}
}

.bold {
	// TODO remove this class
	font-weight: 600;
}

@media only screen and (min-width: 600px) {
	.url-section {
		display: grid;
		grid-template-columns: auto min-content;
		grid-template-rows: auto auto;
		grid-template-areas: "share-url buttons"
		"message message";
		grid-column-gap: 20px;
	}
}

.title {
	// TODO import oTypography here
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 20px;
}

.url-input {
	grid-area: share-url;
	max-width: none;
}


.copy-confirmation {
	margin-top: 8px;
}

@include oMessage($opts: (
	'types': ('alert'),
	'states': ('success'),
));

.message {
	grid-area: message;
	font-size: 16px;
	margin-top: 12px;
}

.buttonBaseStyle {
	@include oButtonsContent($opts: ('type': 'primary', 'size':'big'));
}

.buttons {
	grid-area: buttons;
	text-align: right;
	white-space: nowrap;
	margin-top: 12px;
}

.button--with-gap {
	margin-right: 5px;
}

.loading-spinner {
	@include oLoading($opts: ('themes':('dark'), 'sizes':('large')));
}

.loading-spinner__container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
