@mixin shareButton($social-media-name, $background-color) {
	&,
	&:hover,
	&:active:not([disabled]),
	&:not([disabled]):hover,
	&:focus {
		width: 100%;
		color: #fff;
		border: 1px solid #fff !important;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		font-family: MetricWeb,sans-serif;
		font-size: 16px;
		font-weight: 600;

		&:before {
			position: absolute;
			left: 0;
			top: 0;
		}

		background-color: $background-color;

	}
}

.container {
	margin-top: 36px;
	width: 100%;
	ul {
		padding-left: 0;
		margin-left: -10px;
	}
}

.button {
	width: calc(50% - 10px);
	margin: 10px 0 0 10px;
}

.facebook {
	@include shareButton('facebook', #3b579d);
}

.twitter {
	@include shareButton('twitter', #1da1f2);
}

.linkedin {
	@include shareButton('linkedin', #0077b5);
}

.whatsapp {
	@include shareButton('whatsapp', #25d366);
}
