@import '@financial-times/o-spacing/main';

.x-gift-article--raf {
	background: oColorsByName('white-60');
	font-size: 16px;
	margin-top: oSpacingByName('s4');
	padding: oSpacingByName('s4');

	h4 {
		@include oTypographySans($scale: 0, $weight: 'semibold');
		color: oColorsByName('black-90');
		margin: 0;

		&::before {
			content: '';
			display: inline-block;
			margin-right: 1rem;
			height: 28px;
			width: 28px;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1%3Agift?source=x-gift-article');
		}
	}

	p {
		margin: oSpacingByName('s2') 0px;
	}

	@include oForms(
		$opts: (
			'elements': (
				'text'
			),
			'features': (
				'inline'
			)
		)
	);
}
