@import '@financial-times/o3-foundation/css/core.css';
@import './lib/variables';
@import '@financial-times/o3-button/css/core.css';
@import '@financial-times/o-forms/main';
@import '@financial-times/o-message/main';
@import '@financial-times/o-share/main';
@import '@financial-times/o-visual-effects/main';

@include oForms(
	$opts: (
		'elements': (
			'text',
			'radio-round',
			'checkbox',
			'radio-box'
		),
		'features': (
			'inline',
			'disabled',
			'suffix'
		),
		'themes': (
			'professional'
		)
	)
);

@include oMessage(
	$opts: (
		'types': (
			'action',
			'alert'
		),
		'states': (
			'error',
			'success',
			'neutral'
		),
		'layouts': (
			'inner'
		)
	)
);

@include oMessageAddState(
	$name: 'received-highlights',
	$opts: (
		'foreground-color': 'slate',
		'background-color': whitesmoke,
		'icon': 'info'
	),
	$types: (
		'action',
		'alert'
	)
);

@include oShare(
	$opts: (
		'icons': (
			'x',
			'facebook',
			'linkedin',
			'mail',
			'whatsapp'
		)
	)
);

.share-article-dialog__wrapper {
	border: 1px solid var(--o3-color-palette-black-20);
	background: var(--o3-color-palette-white);
	@include oVisualEffectsShadowContent('mid');
	color: var(--o3-color-use-case-body-text);
	width: 22rem; 
	margin: 0;

	// Stopped using o-overlay but preserved its close functionality
	// Styles copied from o-overlay
	.share-article-modal__close {
		background-color: var(--o3-color-palette-black-60);
		vertical-align: baseline;
		width: 14px;
		height: 14px;
		mask-image: var(--o3-icon-cross);
		mask-repeat: no-repeat;
		mask-size: contain;
		appearance: none;
		border: 0;
		float: right;
		position: relative;
		margin: var(--o3-spacing-2xs);
		cursor: pointer;
		user-select: none;
		

		// Increase hit zone of the button around it for better usability
		&:after {
			position: absolute;
			content: '';
			top: calc(-1 * var(--o3-spacing-3xs));
			right: calc(-1 * var(--o3-spacing-3xs));
			left: calc(-1 * var(--o3-spacing-3xs));
			bottom: calc(-1 * var(--o3-spacing-3xs));
		}
	}

	.share-article-dialog__main {
		.o-forms-input,
		.o-forms-field,
		.no-margin {
			margin: 0;
		}

		textarea#share-link {
			margin-bottom: var(--o3-spacing-2xs);
		}

		padding: var(--o3-spacing-2xs);

		.share-article-dialog__header {
			margin: 0;
			margin-bottom: var(--o3-spacing-2xs);
		}

		.share-article-dialog__header-share-article-title {
			display: block;
		
			margin-top: var(--o3-spacing-5xs);
			margin-bottom: var(--o3-spacing-5xs);
		}

		.share-article-dialog__header-share-link-title {

			margin-top: var(--o3-spacing-4xs);
			margin-bottom: var(--o3-spacing-3xs);
		}

		.share-article-dialog__non-subscriber-checkbox {
			:last-child {
				margin-bottom: 0;
			}
		}

		.share-article-dialog__advanced-sharing-options--element {
			display: flex;
		}

		.share-article-dialog__advanced-sharing-options {
			margin-block: var(--o3-spacing-2xs);

			&--mpr {
				margin-block: 0;
			}

			&--element {
				flex-direction: column;
				gap: calc(oSpacingByName('s1') / 2);
			}
		}

		.share-article-dialog__include-highlights {
			margin-top: var(--o3-spacing-s);
		}

		.shared-article-dialog__include-highlights-quote-wrapper {
			margin-bottom: var(--o3-spacing-s);
		}

		.shared-article-dialog__include-highlights-quote {
			
			line-height: var(--o3-font-lineheight-metric2-negative-1);
			font-size: var(--o3-font-size-metric2-negative-1);
			font-family: var(--o3-font-family-metric);
			font-family: Georgia, serif;
			padding: var(--o3-spacing-5xs) var(--o3-spacing-3xs);
			display: block;
		}

		.share-article-dialog__create-link-button {
			width: 100%;
			margin-top: var(--o3-spacing-s);
		}

		.share-article-dialog__footer {
			:first-child {
				margin-top: var(--o3-spacing-s);
			}

			:last-child {
				margin-bottom: 0;
			}
		}

		.share-article-dialog__footer-message {
			margin-bottom: 0;
		}

		.share-article-dialog__copy-confirmation-alert {
			margin-top: var(--o3-spacing-4xs);
			width: 100%;
		}

		.share-article-dialog__advanced-non-subscriber {
			&--element {
				margin-top: var(--o3-spacing-2xs);
			}

			&--mpr {
				margin-top: 0;
			}
		}

		.share-article-dialog__share-via-socials-title {
			margin-bottom: var(--o3-spacing-3xs);
			margin-top: var(--o3-spacing-3xs);
		}

		.share-article-dialog__share-via-socials-wrapper {
			display: flex;
			gap: var(--o3-spacing-3xs);
		}

		.o-share__icon.share-article-dialog__icon--email:hover {
			background-color: var(--o3-color-palette-slate);
			border-color: var(--o3-color-palette-slate);
			color: var(--o3-color-palette-white);
		}

		.share-article-dialog__alert {
			margin-top: var(--o3-spacing-2xs);
			strong {
				
				font-weight: var(--o3-font-weight-medium);
				font-family: var(--o3-font-family-metric);
			}

			&:has(.no-credit-alert--mpr-version) {
				margin-top: 0;
			}
		}
	}
}
