@import '@financial-times/o3-foundation/css/core.css';
@import './lib/variables';
@import '@financial-times/o3-button/css/core.css';
@import '@financial-times/o-normalise/main';
@import '@financial-times/o-typography/main';
@import '@financial-times/o-forms/main';
@import '@financial-times/o-message/main';
@import '@financial-times/o-share/main';
@import '@financial-times/o-visual-effects/main';

@include oNormalise();
@include oTypography();

@include oForms(
	$opts: (
		'elements': (
			'text',
			'radio-round',
			'checkbox',
			'radio-box'
		),
		'features': (
			'inline',
			'disabled',
			'suffix'
		),
		'themes': (
			'professional'
		)
	)
);

@include oMessage(
	$opts: (
		'types': (
			'action',
			'alert'
		),
		'states': (
			'error',
			'success',
			'neutral'
		),
		'layouts': (
			'inner'
		)
	)
);

@include oMessageAddState(
	$name: 'received-highlights',
	$opts: (
		'foreground-color': 'slate',
		'background-color': whitesmoke,
		'icon': 'info'
	),
	$types: (
		'action',
		'alert'
	)
);

@include oShare(
	$opts: (
		'icons': (
			'x',
			'facebook',
			'linkedin',
			'mail',
			'whatsapp'
		)
	)
);

.share-article-dialog__wrapper {
	@include oNormaliseBoxSizing();
	border-radius: calc(oSpacingByName('s2') + 2px);
	border: 1px solid var(--o3-color-palette-black-20);
	background: var(--o3-color-palette-white);
	@include oVisualEffectsShadowContent('mid');
	color: var(--o3-color-use-case-body-text);
	width: oSpacingByName('s8') * 11; // 32 * 11 = 352px
	margin: 0;

	// Stopped using o-overlay but preserved its close functionality
	// Styles copied from o-overlay
	.share-article-modal__close {
		background-color: var(--o3-color-palette-black-60);
		vertical-align: baseline;
		width: 14px;
		height: 14px;
		mask-image: var(--o3-icon-cross);
		mask-repeat: no-repeat;
		mask-size: contain;
		appearance: none;
		border: 0;
		float: right;
		position: relative;
		margin: oSpacingByName('s4');
		cursor: pointer;
		user-select: none;
		

		// Increase hit zone of the button around it for better usability
		&:after {
			position: absolute;
			content: '';
			top: -(oSpacingByName('s3'));
			right: -(oSpacingByName('s3'));
			left: -(oSpacingByName('s3'));
			bottom: -(oSpacingByName('s3'));
		}
	}

	.share-article-dialog__main {
		.o-forms-input,
		.o-forms-field,
		.no-margin {
			margin: 0;
		}

		textarea#share-link {
			margin-bottom: oSpacingByName('s4');
		}

		padding: oSpacingByName('s4');

		.share-article-dialog__header {
			margin: 0;
			margin-bottom: oSpacingByName('s4');
		}

		.share-article-dialog__header-share-article-title {
			display: block;
			@include oTypographySans($scale: -1, $weight: 'medium');
			color: var(--o3-color-palette-black);
			margin-top: oSpacingByName('s1');
			margin-bottom: oSpacingByName('s1');
		}

		.share-article-dialog__header-share-link-title {
			@include oTypographySans($scale: 0, $weight: 'semibold');
			margin-top: oSpacingByName('s2');
			margin-bottom: oSpacingByName('s3');
		}

		.share-article-dialog__non-subscriber-checkbox {
			:last-child {
				margin-bottom: 0;
			}
		}

		.share-article-dialog__advanced-sharing-options--element {
			display: flex;
		}

		.share-article-dialog__advanced-sharing-options {
			margin-block: oSpacingByName('s4');

			&--mpr {
				margin-block: 0;
			}

			&--element {
				flex-direction: column;
				gap: calc(oSpacingByName('s1') / 2);
			}

			&--element-title {
				@include oTypographySans($scale: 0, $weight: 'semibold');
			}

			&--element-description {
				@include oTypographySans($scale: -1, $weight: 'regular');
				color: var(--o3-color-use-case-support-text);
			}
		}

		.share-article-dialog__include-highlights {
			margin-top: oSpacingByName('s6');
		}

		.shared-article-dialog__include-highlights-quote-wrapper {
			margin-bottom: oSpacingByName('s6');
		}

		.shared-article-dialog__include-highlights-quote {
			@include oTypographySans($scale: 0, $include-font-family: 0);
			font-family: Georgia, serif;
			padding: oSpacingByName('s1') oSpacingByName('s3');
			display: block;
		}

		.share-article-dialog__create-link-button {
			width: 100%;
			margin-top: oSpacingByName('s6');
		}

		.share-article-dialog__footer {
			:first-child {
				margin-top: oSpacingByName('s6');
			}

			:last-child {
				margin-bottom: 0;
			}
		}

		.share-article-dialog__footer-message {
			@include oTypographySans($scale: -1, $weight: 'regular');
			color: var(--o3-color-use-case-support-text);
			margin-bottom: 0;
		}

		.share-article-dialog__footer-message-shared-link {
			@include oTypographySans($scale: -1, $weight: 'regular');
			color: var(--o3-color-use-case-support-text);
		}

		.share-article-dialog__copy-confirmation-alert {
			margin-top: oSpacingByName('s2');
			width: 100%;
		}

		.share-article-dialog__advanced-non-subscriber {
			&--element {
				margin-top: oSpacingByName('s4');
			}

			&--mpr {
				margin-top: 0;
			}
		}

		.share-article-dialog__share-via-socials-title {
			@include oTypographySans($scale: 0, $weight: 'semibold');
			margin-bottom: oSpacingByName('s3');
			margin-top: oSpacingByName('s3');
		}

		.share-article-dialog__share-via-socials-wrapper {
			display: flex;
			gap: oSpacingByName('s3');
		}

		.o-share__icon.share-article-dialog__icon--email:hover {
			background-color: var(--o3-color-palette-slate);
			border-color: var(--o3-color-palette-slate);
			color: var(--o3-color-palette-white);
		}

		.share-article-dialog__alert {
			margin-top: oSpacingByName('s4');
			strong {
				@include oTypographySans($weight: 'medium');
			}

			&:has(.no-credit-alert--mpr-version) {
				margin-top: 0;
			}
		}
	}
}
