:root {
	/* primary colors */
	--o-colors-paper: #fff1e5;
	--o-colors-black: #000000;
	--o-colors-white: #ffffff;
	--o-colors-claret: #990f3d;
	--o-colors-oxford: #0f5499;
	--o-colors-teal: #0d7680;

	/* secondary colors */
	--o-colors-wheat: #f2dfce;
	--o-colors-sky: #cce6ff;
	--o-colors-slate: #262a33;
	--o-colors-velvet: #593380;
	--o-colors-mandarin: #ff8833;
	--o-colors-lemon: #ffec1a;

	/* tertiary colors */
	--o-colors-candy: #ff7faa;
	--o-colors-wasabi: #96cc28;
	--o-colors-jade: #00b359;
	--o-colors-crimson: #cc0000;

	/* color shades */
	--o-colors-claret-30: #4d081f;
	--o-colors-claret-40: #660a29;
	--o-colors-claret-50: #800d33;
	--o-colors-claret-60: #990f3d;
	--o-colors-claret-70: #b31247;
	--o-colors-claret-80: #cc1452;
	--o-colors-claret-90: #e6175c;
	--o-colors-claret-100: #ff1a66;
	--o-colors-oxford-30: #082a4d;
	--o-colors-oxford-40: #0a3866;
	--o-colors-oxford-50: #0d4680;
	--o-colors-oxford-60: #0f5499;
	--o-colors-oxford-70: #1262b3;
	--o-colors-oxford-80: #1470cc;
	--o-colors-oxford-90: #177ee6;
	--o-colors-oxford-100: #1a8cff;
	--o-colors-teal-20: #052f33;
	--o-colors-teal-30: #08474d;
	--o-colors-teal-40: #0a5e66;
	--o-colors-teal-50: #0d7680;
	--o-colors-teal-60: #0f8e99;
	--o-colors-teal-70: #12a5b3;
	--o-colors-teal-80: #14bdcc;
	--o-colors-teal-90: #17d4e6;
	--o-colors-teal-100: #1aecff;

	/* color washes (not really from o-colors) */
	--o-colors-black-wash: #ebf2f0;
	--o-colors-claret-wash: #fbf5f7;
	--o-colors-oxford-wash: #f9fbfd;
	--o-colors-teal-wash: #f3f8f9;

	/* font-stacks */
	--font-sans: Lato, -apple-system, BlinkMacSystemFont, sans-serif;
	--font-mono: "Space Mono", Menlo, Monaco, Consolas, monospace;

	/* breakpoints (can't be specified with custom properties so only for reference */
	--break-small: 50em;
	--break-large: 70em;

	/* containers */
	--container-small: 360px;
	--container-readable: 760px;
	--container-large: 960px;
}


/* Globals */
body {
	margin: 0;
	color: #24292e;
	font-family: var(--font-sans);
	font-size: 16px;
	line-height: 1.5;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	/* name specific properties to avoid animating the focus outline */
	transition: color 0.1s, background-color 0.1s, border-color 0.1s, opacity 0.1s;
	color: var(--o-colors-teal);
	text-decoration: none;
}

a:hover,
a:focus {
	color: var(--o-colors-teal-80);
}

a:focus {
	outline: 2px solid var(--o-colors-teal-100);
	outline-offset: 2px;
}

img {
	border: 0;
	max-width: 100%;
}


/* Preformatted text and code */
pre,
code {
	tab-size: 2;
	hyphens: none;
	font-size: 0.875rem;
	font-family: var(--font-mono);
}

pre {
	background: var(--o-colors-teal-wash);
	padding: 0.5rem 0.75rem;
	overflow: auto;
}

pre code {
	display: block;
	white-space: pre;
}

:not(pre) > code {
	padding: 0 0.25em;
	color: var(--o-colors-claret-60);
	background: var(--o-colors-claret-wash);
}

table {
	outline: 3px solid var(--o-colors-black-wash);
	border: 1px solid #ddd;
	border-collapse: collapse;
}

thead th {
	background: var(--o-colors-black-wash);
}

th {
	text-align: left;
}

th,
td {
	padding: 0.25rem 0.5rem;
	border: 1px solid #ddd;
	border-top: 0;
	border-bottom: 0;
}

th:first-child,
td:first-child {
	border-left: 0;
}

/* Buttons */
.button {
	display: inline-block;
	padding: 0.75rem 1.25rem;
	border: 2px solid;
	font: inherit;
	font-weight: bold;
	color: var(--o-colors-teal);
	background: none;
}

.button:hover,
.button:focus {
	color: var(--o-colors-teal-80);
}

.button--inverse {
	color: var(--o-colors-white);
	background: transparent;
}

.button--inverse:hover,
.button--inverse:focus {
	color: var(--o-colors-white);
	background: rgba(255, 255, 255, 0.25);
}

/* Re-usable layout components */
.content-container {
	max-width: var(--container-small);
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

@media screen and (min-width: 50em) {
	.content-container {
		max-width: var(--container-large);
	}
}


/* Splash layout */
.splash-layout {
	display: grid;
	/* 100% height layout all the time */
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
}

/* Basic layout */
.basic-layout {
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	/* "auto" = max content, so nothing will wrap without specifying a width */
	grid-template-columns: 100%;
}

.basic-layout__header {}

.basic-layout__content {}

.basic-layout__sidebar {
	margin-top: 1rem;
}

.basic-layout__footer {}

@media screen and (min-width: 50em) {
	.basic-layout {
		grid-template-columns: 1fr 4fr;
		grid-template-areas: "header header" "sidebar main" "footer footer";
	}

	.basic-layout__header {
		grid-area: header;
	}

	.basic-layout__content {
		grid-area: main;
	}

	.basic-layout__sidebar {
		grid-area: sidebar;
		margin-top: 0;
	}

	.basic-layout__footer {
		grid-area: footer;
	}
}

@media screen and (min-width: 70em) {
	.basic-layout {
		grid-template-columns: 1fr 5fr;
	}
}

/* Header */
.site-header {
	position: relative;
	color: var(--o-colors-white);
	background: var(--o-colors-slate);
	text-align: center;
}

.site-header__masthead {
	padding: 0.5rem 0.75rem;
	font-size: 1.25rem;
	font-weight: bold;
	text-transform: uppercase;
}

.site-header__masthead a {
	color: inherit;
}

.site-header__logo {
	display: none;
}

.site-header__menu {
	display: flex;
}

.site-header__menu a {
	flex-grow: 1;
	padding: 0.5rem 0.75rem;
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
	color: inherit;
	opacity: 0.65;
}

.site-header__menu a:hover,
.site-header__menu a:focus,
.site-header__menu a.is-active {
	opacity: 1;
}

.site-header__menu a.is-active {
	color: var(--o-colors-teal-100);
}

@media screen and (min-width: 50em) {
	.site-header {
		display: flex;
		align-items: center;
		text-align: initial;
		padding: 0.75rem 1.25rem;
	}

	.site-header__masthead {
		padding: 0;
	}

	.site-header__logo {
		display: initial;
		position: absolute;
		width: 30px;
		left: 50%;
		margin-left: 15px;
	}

	.site-header__menu {
		margin-left: auto;
	}

	.site-header__menu a {
		padding: 0;
		margin-left: 1rem;
	}
}


/* Sidebar */
.site-sidebar {
	box-sizing: border-box;
	min-height: 100%;
	padding: 0.75rem 0.5rem;
	background: var(--o-colors-teal-wash);
	border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.site-sidebar__list {
	margin: 0;
	padding: 0;
}

.site-sidebar__item {
	display: block;
	margin-top: 0.25rem;
}

.site-sidebar__item:first-child {
	margin-top: 0;
}

.site-sidebar__item--heading {
	margin: 1.25rem 0 0.5rem;
	font-weight: bold;
}

.site-sidebar__item a {
	color: var(--o-colors-black);
	opacity: 0.65;
}

.site-sidebar__item a:hover,
.site-sidebar__item a:focus,
.site-sidebar__item a.is-active {
	opacity: 1;
}

.site-sidebar__item a.is-active {
	color: var(--o-colors-teal);
}

@media screen and (min-width: 50em) {
	.site-sidebar {
		padding: 1.5rem 1.25rem;
	}
}


/* Site footer */
.site-footer {
	padding: 1.25rem 1rem 1.5rem;
	font-size: 0.75rem;
	text-align: center;
	color: var(--o-colors-white);
	background: var(--o-colors-slate);
}

.site-footer a {
	margin-left: 0.75rem;
	color: var(--o-colors-teal-100);
}

.site-footer a:first-child {
	margin-left: 0;
}

.site-footer__legal-links {}

.site-footer__related-links {}

.site-footer__small-print {
	margin: 0.5rem 0 0;
}

.site-footer__small-print small {
	font-size: inherit;
}

@media screen and (min-width: 50em) {
	.site-footer {
		display: flex;
		flex-wrap: wrap;
		text-align: left;
		font-size: 0.875rem;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}

	.site-footer__related-links {
		margin-left: auto;
	}

	.site-footer__small-print {
		width: 100%;
	}
}


/* Content layout */
.content-layout {}

.content-layout__main {}

.content-layout__main-inner {
	margin: 0 auto 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: var(--container-readable);
}

.content-layout__tertiary {
	display: none;
}

.content-layout__tertiary-inner {
	margin: 1.5rem 0;
	padding: 0.25rem 1rem;
	border-left: 2px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 70em) {
	.content-layout {
		display: grid;
		grid-template-columns: auto 220px;
	}

	.content-layout__tertiary {
		display: block;
	}

	.content-layout__tertiary-inner {
		position: sticky;
		top: 0;
	}
}


/* Tertiary menu */
.tertiary-menu {
	margin-top: 1rem;
	font-size: 0.875rem;
	background: var(--o-colors-white);
}

.tertiary-menu:first-child {
	margin-top: 0;
}

.tertiary-menu__heading {
	margin: 0;
	font-weight: bold;
}

.tertiary-menu__list {
	padding: 0;
	margin: 0.25rem 0;
}

.tertiary-menu__item {
	display: block;
	margin-top: 0.25rem;
}

.tertiary-menu__item:first-child {
	margin-top: 0;
}

/* Hero */
.hero {
	padding: 2.5rem 0;
	color: var(--o-colors-white);
	background: var(--o-colors-slate);
}

.hero__container {}

.hero__logo {
	/* Chrome requires explicit size to render implicit height */
	width: 100%;
	margin: auto;
}

.hero__content {
	max-width: 480px;
	margin: auto;
	text-align: center;
}

.hero__heading {
	font-size: 2rem;
	line-height: 1;
	text-transform: uppercase;
}

.hero__description {
	margin: 1.25rem 0;
	font-size: 1.25rem;
}

@media screen and (min-width: 50em) {
	.hero {
		padding: 3.75rem 0;
	}

	.hero__container {
		display: grid;
		grid-gap: 1.25rem;
		grid-template-columns: 1fr 2fr;
	}

	.hero__content {
		text-align: left;
	}

	.hero__heading {
		margin: 0;
		font-size: 3rem;
	}

	.hero__description {
		font-size: 1.5rem;
	}
}


/* Intro */
.intro {
	margin: 1rem 0;
}

.intro__section {}

.intro__heading {
	margin: 0;
	font-size: 1.25rem;
}

.intro__list {
	margin: 1.25rem 0;
	padding: 0;
}

.intro__item {
	display: block;
	margin-top: 1.5rem;
	/* encapsulate floating icon */
	overflow: hidden;
}

.intro__icon {
	float: left;
	width: 50px;
	margin-right: 0.75rem;
}

@media screen and (min-width: 50em) {
	.intro {
		display: grid;
		grid-gap: 1.25rem;
		grid-template-columns: 1fr 1fr;
		margin: 2.5rem 0;
	}

	.intro__heading {
		font-size: 1.5rem;
	}

	.intro__item {
		margin-top: 1.5rem;
	}
}


/* Module list */
.module-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.module-list__item {
	margin-bottom: 1.25rem;
}

.module-list__link {
	display: block;
	padding: 0.75rem 1rem;
	background: var(--o-colors-teal-wash);
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.module-list__link:hover,
.module-list__link:focus {
	border-color: var(--o-colors-teal-70);
}

.module-list__heading {
	margin: 0 0 0.5rem;
	font-size: 1rem;
	font-weight: normal;
}

.module-list__description {
	margin: 0;
	color: var(--o-colors-slate);
}

@media screen and (min-width: 50em) {
	.module-list {
		display: grid;
		grid-gap: 1.25rem;
		grid-template-columns: 1fr 1fr;
	}

	.module-list__link {
		box-sizing: border-box;
		height: 100%;
		padding: 1rem 1.25rem;
	}

	.module-list__heading {
		margin: 0;
		font-size: 1.25rem;
	}
}

/* Storybook viewer */
.story-viewer {
	margin-top: 2.5rem;
	border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.story-viewer__header {
	margin: 1.5rem 0;
}

.story-viewer__list {
	margin: 1.5rem 0;
	display: flex;
	list-style: none;
	padding-left: 0;
}

.story-viewer__item {
	margin-left: 0.5rem;
}

.story-viewer__item:first-child {
	margin-left: 0;
}

.story-viewer__button {
	padding: 0.25rem 0.5rem;
	font: inherit;
	font-size: 0.95rem;
	border: 1px solid;
	color: var(--o-colors-oxford);
	background: none;
	cursor: pointer;
}

.story-viewer__button:hover,
.story-viewer__button:focus {
	color: var(--o-colors-oxford-100);
}

.story-viewer__button[aria-selected=true] {
	border: 1px solid transparent;
	color: var(--o-colors-white);
	background: var(--o-colors-oxford);
}

.story-viewer__panel {
	height: 20rem;
	resize: vertical;
	overflow: auto;
}

.story-viewer__panel iframe {
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
}

.story-viewer__footer {
	margin: 0.5rem 0 1.5rem;
	text-align: right;
}

.story-viewer__footer a {
	font-size: 0.875rem;
	color: var(--o-colors-oxford);
}

.story-viewer__footer a:hover,
.story-viewer__footer a:focus {
	color: var(--o-colors-oxford-100);
}

.story-viewer__footer a:after {
	content: ' →';
}
