.token.punctuation,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--o-colors-black);
}

.token.comment {
	color: #999;
}

.token.operator {
	color: var(--o-colors-mandarin);
}

.token.boolean,
.token.number {
	color: var(--o-colors-velvet);
}

.token.regex,
.token.attr-value,
.token.string,
.token.property,
.token.url {
	color: var(--o-colors-oxford-90);
}

.token.selector,
.token.tag {
	color: var(--o-colors-teal);
}

.token.function,
.token.inserted {
	color: var(--o-colors-jade);
}

.token.attr-name,
.token.rule,
.token.keyword,
.token.important,
.token.deleted {
	color: var(--o-colors-claret);
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
