@import '@financial-times/o-typography/main';
@import '../../../themes/themes';

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.protrudingImage {
	margin-left: 15%;
	width: 70%;
}

.content {
	flex: 1;
}
