@import 'o-grid/main';
@import 'o-typography/main';

.articleGroup {
	border-top: 4px solid #000;

	@include oGridRespondTo($from: M) {
		display: grid;
		grid-gap: 0 20px;
		grid-template: "heading articles" min-content / 1fr 3fr;
	}
}

.articleGroup__heading {
	@include oTypographySansBold($scale: 1);
	@include oTypographyMargin($top: 2, $bottom: 2);

	@include oGridRespondTo($from: M) {
		grid-area: heading;
	}
}

.articleGroup__articles {
	list-style-type: none;
	padding: 0;
	@include oTypographyMargin($top: 2);

	@include oGridRespondTo($from: M) {
		grid-area: articles;
	}
}
